{% extends "layout-laa-b.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/intra-b/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-b/guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-b/hr" class="breadcrumb-link">HR</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Pay and benefits

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
          <ul>
            <li class="main-section"><a href="guidance1">Guidance &amp; forms</a></li>
            <li class="parent-section"><a href="/intra-b/hr/">HR</a></li>
            <li class="child-folder">
              <a href="#">Pay and benefits</a>
            </li>
            <li class="child-level-2">
              <a href="#">Additional housing cost allowance for relocation</a>
            </li>
            <li class="child-level-2">
              <a href="#">Allowance extension for relocation</a>
            </li>
            <li class="child-level-2">
              <a href="#">Cycle to work scheme</a>
            </li>
            <li class="child-level-2">
              <a href="#">Deals on travel, food and entertainment</a>
            </li>
            <li class="child-level-2">
              <a href="#">ePayslips</a>
            </li>
            <li class="child-level-2">
              <a href="/intra-b/hr/pay/pay-award">Pay award</a>
            </li>
            <li class="child-level-2">
              <a href="/intra-b/hr/pay/pay-deadlines">Pay deadlines</a>
            </li>
            <li class="child-level-2">
              <a href="#">Qualification allowance</a>
            </li>
            <li class="child-level-2">
              <a href="#">Salary advance</a>
            </li>
            <li class="child-level-2">
              <a href="#">Season ticket loans</a>
            </li>
            <li class="child-level-2">
              <a href="#">Travel expenses</a>
            </li>

          </ul>
      </div>

    </div>


    <div class="column-two-thirds content">

      <div class="">
        <h1 class="page-title">Pay and benefits</h1>

        <div class="page-metadata">
          <ul>
            <li>Content owner: <a href="mailto:hr@exmaple.com">MoJ HR</a></li>
            <li>Last updated: 27 March 2016</li>
          </ul>

        </div>


        <div class="excerpt">
          How you're paid, the benefits on offer and how to claim overtime.        </div>
      </div>

      <ul role="tablist" class="content-tabs  hidden">
                  <li class="current-menu-item" role="presentation" data-content="tab_1">
            <a id="tab-tab_1" role="tab" aria-selected="true" aria-controls="panel-tab_1" href="">Tab 1</a>
          </li>
              </ul>

      <div class="tab-content editable">
                      <h2></h2>
            <p>In this section you can find out more about being paid as an employee in the Ministry of Justice.&nbsp; Shared Services work with the Liberata to process all payments in a timely manner.</p>
<p>Your pay will be paid into your bank account on the last working day of each month, any changes to your pay will be paid in the next available pay period (provided they are received before each pay cut-off date).</p>
<p>It is your responsibility to check your pay each month and highlight any issues accordingly.&nbsp; If there are any inaccuracies in your pay please contact Shared Services immediately so that your pay can be corrected and overpayments reclaimed or underpayments made.</p>
                      <h2>Downloads</h2>
            <ul class="">
<li><a href="/documents/2015/04/business-case-for-higher-starting-salary-above-25.doc">Higher starting salary (above 25%) – business case<span class="sr-only"> doc</span></a></li>
<li><a href="/documents/2015/04/business-case-for-higher-starting-salary-above-40.doc">Higher starting salary (above 40%) – business case<span class="sr-only"> doc</span></a></li>
<li><a href="/documents/2015/04/pay-and-allowances-manual-pay-policy.pdf">Pay and Allowances Manual – Pay Policy (chapter 1)<span class="sr-only"> pdf</span></a></li>
</ul>
                      <h2>External sites</h2>
            <ul class="">
<li><a href="http://www.civilservicepensionscheme.org.uk" rel="external">Civil Service Pensions Reform</a></li>
</ul>
                      <h2>Contact us</h2>
            <ul class="">
<li><a href="/guidance/hr/phoenix-and-my-details/">Contact us – self-service</a></li>
<li><a href="/guidance/hr/contact-shared-services/">Shared Services</a></li>
</ul>

                  </div>
      <span class="date-updated">Last updated: <time>27 October 2015</time></span>

              <div id="panel-tab_1" data-template-type="tab-content" data-content-name="tab_1" class="template-partial editable" role="tabpanel" aria-labelled-by="tab-tab-tab_1">
                      <h2></h2>
            <p>In this section you can find out more about being paid as an employee in the Ministry of Justice.&nbsp; Shared Services work with the Liberata to process all payments in a timely manner.</p>
<p>Your pay will be paid into your bank account on the last working day of each month, any changes to your pay will be paid in the next available pay period (provided they are received before each pay cut-off date).</p>
<p>It is your responsibility to check your pay each month and highlight any issues accordingly.&nbsp; If there are any inaccuracies in your pay please contact Shared Services immediately so that your pay can be corrected and overpayments reclaimed or underpayments made.</p>
                      <h2>Downloads</h2>
            <ul class="">
<li><a href="/documents/2015/04/business-case-for-higher-starting-salary-above-25.doc">Higher starting salary (above 25%) – business case<span class="sr-only"> doc</span></a></li>
<li><a href="/documents/2015/04/business-case-for-higher-starting-salary-above-40.doc">Higher starting salary (above 40%) – business case<span class="sr-only"> doc</span></a></li>
<li><a href="/documents/2015/04/pay-and-allowances-manual-pay-policy.pdf">Pay and Allowances Manual – Pay Policy (chapter 1)<span class="sr-only"> pdf</span></a></li>
</ul>
                      <h2>External sites</h2>
            <ul class="">
<li><a href="http://www.civilservicepensionscheme.org.uk" rel="external">Civil Service Pensions Reform</a></li>
</ul>
                      <h2>Contact us</h2>
            <ul class="">
<li><a href="/guidance/hr/phoenix-and-my-details/">Contact us – self-service</a></li>
<li><a href="/guidance/hr/contact-shared-services/">Shared Services</a></li>
</ul>

                  </div>

      <div class="template-partial" data-name="menu-item">
        <li class="menu-item">
          <div class="menu-item-container">
            <a href="" class="menu-item-link"></a>
            <button href="#" class="dropdown-button">Expand</button>
          </div>
          <ul class="children-list">
          </ul>
        </li>
      </div>

      <div class="template-partial" data-name="child-item">
        <li class="child-item">
          <a href="" class="child-item-link"></a>
        </li>
      </div>











    </div>


  </div>




</main>

{% endblock %}
