<nav class="main-nav-bar">
   <div  style="margin: 0 auto;max-width: 960px;">
      <div class="menu-hq-menu-container">
         <ul id="menu-hq-menu" class="menu">
            <li id="menu-item-121163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-115 current_page_item menu-item-121163"><a href="#">Home</a></li>
            <li id="menu-item-121164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121164"><a href="https://intranet.justice.gov.uk/newspage/">News</a></li>
            <li id="menu-item-121165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121165"><a href="https://intranet.justice.gov.uk/events/">Events</a></li>
            <li id="menu-item-121174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-121174"><a href="/guidance">Guidance &amp; forms</a></li>
            <li id="menu-item-121173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-121173"><a href="/about-us">About us</a></li>
            <li id="menu-item-121175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121175"><a href="https://intranet.justice.gov.uk/blog/">Blog</a></li>
         </ul>
      </div>
   </div>
</nav>

<style type="text/css">
   .main-nav-bar {
       background-color: #ebedef;
   }

   .main-nav-bar ul {
       display: table;
       width: 100%;
       list-style: none;
   }

   .main-nav-bar .current-menu-item {
       background: #fff;
   }

   .main-nav-bar li {
       border-bottom: 0;
       display: table-cell;
       margin-bottom: -1px;
       border-left: 1px solid #fff;
   }

   .main-nav-bar a {
       display: block;
       text-align: center;
       padding: 10px 20px;
       color: #3c3c3b;
       text-decoration: none;
       font-weight: 700;
   }

   #menu-hq-menu {
      padding-left: 0px;
      margin-top: 0px;
   }

   .main-nav-bar li:last-of-type {
       border-right: 1px solid #fff;
   }

</style>
