<script type="text/javascript">

function setNavigation() {
    var path = window.location.pathname;
    console.log(path);
    path = path.replace(/\/$/, "");
    console.log(path);
    path = decodeURIComponent(path);
    console.log(path);

    console.log(path);

    $(".menu a").each(function () {
        var href = $(this).attr('href');
        href = "/v1/" + href;
        if (path.substring(0, href.length) === (href)) {
            $(this).closest('li').addClass('current-menu-item');
            $(this).closest('li').addClass('current_page_item');
        }
    });
}

window.onload = setNavigation;

</script>

<nav class="main-nav-bar">
   <div  style="margin: 0 auto;max-width: 960px;">
      <div class="menu-hq-menu-container">
         <ul id="menu-hq-menu" class="menu">
            <li id="menu-item-121163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item"><a href="index-2">Home</a></li>
            <li id="menu-item-121164" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="news">News</a></li>
            <li id="menu-item-121165" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="events">Events</a></li>
            <li id="menu-item-121174" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="hr">HR</a></li>
            <li id="menu-item-121174" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/guidance">Guidance &amp; forms</a></li>
            <li id="menu-item-121173" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about-us">About us</a></li>
            <li id="menu-item-121175" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="blog">Blog</a></li>
         </ul>
      </div>
   </div>
</nav>

<style type="text/css">
   .main-nav-bar {
       background-color: #ebedef;
   }

   .main-nav-bar ul {
       display: table;
       width: 100%;
       list-style: none;
   }

   .main-nav-bar .current-menu-item {
       background: #fff;
   }

   .main-nav-bar li {
       border-bottom: 0;
       display: table-cell;
       margin-bottom: -1px;
       border-left: 1px solid #fff;
   }

   .main-nav-bar a {
       display: block;
       text-align: center;
       padding: 10px 20px;
       color: #3c3c3b;
       text-decoration: none;
       font-weight: 700;
       font-size: 19px;
   }

   #menu-hq-menu {
      padding-left: 0px;
      margin-top: 0px;
   }

   .main-nav-bar li:last-of-type {
       border-right: 1px solid #fff;
   }

</style>
