<div class="search-bar">
	<section  style="margin: 0 auto;max-width: 960px;">
	     <div class="search-bar__container">
	       <input type="search" name="s" placeholder="Search MoJ intranet" id="s" value="">
	       <button type="submit" class="gem-c-search__submit" aria-label="Go"></button>
	     </div>
  	</section>
</div>

<style type="text/css">


	.search-bar {
	    background-color: #005ea5;
	    padding: 1rem 0;
	    position: relative;
	}

	.search-bar button {
	    right: 0;
	    border-radius: 0;
	    border:0px;
	    color: #fff;
	    background-color: #000;
	}

	.search-bar__container {
   		position: relative;
	}

	.govuk-header__container {
    	border-bottom: 0px;
	}

	.govuk-header {
    	border-bottom: 0px;
	}

	.gem-c-search__submit {
	    position: relative;
	    padding: 0;
	    width: 40px;
	    height: 40px;
	    background-image: url(https://assets.publishing.service.gov.uk/frontend/govuk_publishing_componen…utton-ca89b2a….png);
	    background-repeat: no-repeat;
	    background-position: 2px 50%;
	    text-indent: -5000px;
	    overflow: hidden;
	}

	

	.search-wrapper {
	    width: auto;
	    max-width: 1020px;
	    float: none;
	    display: block;
	    margin-right: auto;
	    margin-left: auto;
	    padding-left: 0;
	    padding-right: 0;
	}

	.search-bar input {
	    position: relative;
	    float: left;
	    clear: none;
	    text-align: inherit;
	    width: 100%;
	    margin-left: 0;
	    margin-right: 0;
	    height: 40px;
	    padding-right: 50px;
	    padding-left:10px;
	    padding-top:10px;
		padding-bottom:10px;
	    border: 0px;
    	font-size: 19px;
	}

	.search-bar input{
	    float: left;
	    clear: none;
	    text-align: inherit;
	    width: 48.5%;
	    margin: 0;
	
 
	}
</style>
