{% extends "layout-laa-b.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/intra-b/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-b/guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-b/hr" class="breadcrumb-link">HR</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Leave

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
          <ul>
            <li class="main-section"><a href="guidance1"></a></li>
            <li class="parent-section"><a href="/intra-b/hr/">HR</a></li>
            <li class="child-folder">
              <a href="#">Leave</a>
            </li>
            <li class="child-level-2">
              <a href="#">Adoption leave</a>
            </li>
            <li class="child-level-2">
              <a href="#">Career break</a>
            </li>
            <li class="child-level-2">
              <a href="parental-leave">Parental leave policy</a>
            </li>
            <li class="child-level-2">
              <a href="#">Privilege days</a>
            </li>
            <li class="child-level-2">
              <a href="#">Trade union facility time</a>
            </li>

          </ul>
      </div>

    </div>


    <div class="column-two-thirds content">


      <div class="">
        <h1 class="page-title">Leave</h1>
        <div class="excerpt">
          Find out how to take time off, eg holiday, family leave, career breaks.        </div>
      </div>

      <ul role="tablist" class="content-tabs  hidden">
                  <li class="current-menu-item" role="presentation" data-content="tab_1">
            <a id="tab-tab_1" role="tab" aria-selected="true" aria-controls="panel-tab_1" href="">Tab 1</a>
          </li>
              </ul>

      <div class="tab-content editable">
                      <h2></h2>
            <p>In order for MoJ to deliver its services to the public, we obviously need staff to be at work. So we are committed to a culture of attendance.</p>
<p>We are equally strongly committed to all staff being able to enjoy a good work-life balance. We show this not only by adherence to legislation covering areas such as annual leave and holidays, sick leave and working time regulations but also by a flexible approach to requests for alternative working arrangements.</p>
                      <h2>Contact us</h2>
            <p><a href="/guidance/hr/contact-shared-services/">Contact Shared Services</a></p>

                  </div>
      <span class="date-updated">Last updated: <time>27 March 2015</time></span>

              <div id="panel-tab_1" data-template-type="tab-content" data-content-name="tab_1" class="template-partial editable" role="tabpanel" aria-labelled-by="tab-tab-tab_1">
                      <h2></h2>
            <p>In order for MoJ to deliver its services to the public, we obviously need staff to be at work. So we are committed to a culture of attendance.</p>
<p>We are equally strongly committed to all staff being able to enjoy a good work-life balance. We show this not only by adherence to legislation covering areas such as annual leave and holidays, sick leave and working time regulations but also by a flexible approach to requests for alternative working arrangements.</p>
                      <h2>Contact us</h2>
            <p><a href="/guidance/hr/contact-shared-services/">Contact Shared Services</a></p>

                  </div>

      <div class="template-partial" data-name="menu-item">
        <li class="menu-item">
          <div class="menu-item-container">
            <a href="" class="menu-item-link"></a>
            <button href="#" class="dropdown-button">Expand</button>
          </div>
          <ul class="children-list">
          </ul>
        </li>
      </div>

      <div class="template-partial" data-name="child-item">
        <li class="child-item">
          <a href="" class="child-item-link"></a>
        </li>
      </div>


  </div>




</main>

{% endblock %}
