{% extends "layout-laa-b.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/intra-b/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-b/my-work" class="breadcrumb-link">My work</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-b/crime/" class="breadcrumb-link">Crime</a>
        <span class="separator"></span>
      </li>

      <li class="breadcrumb-item current">SOPs

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
        <ul>
          <li class="main-section"><a href="/intra-b/my-work">My work</a></li>
          <li class="parent-section"><a href="/intra-b/crime/">Crime</a></li>
          <li class="child">
            <a href="/intra-b/crime/guidance">Guidance</a>
          </li>
          <li class="child current-page">
            <a href="/intra-b/crime/sops">SOPs</a>
          </li>
          <li class="child">
            <a href="/intra-b/crime/desk-aids">Desk aids</a>
          </li>


        </ul>
      </div>

    </div>


    <div class="column-two-thirds content">


      <div class="">
        <h1 class="page-title">Crime SOPs</h1>

        <div class="page-metadata">
          <ul>
            <li>Content owner: <a href="mailto:hr@exmaple.com">LAA Operations</a></li>
            <li>Last updated: 27 March 2016</li>
          </ul>

        </div>

        <ul>
          <li>
            <a href="/laa/docs/Admin_process_version_2_LAR.doc">Admin process</a>
          </li>
          <li>
            <a href="/laa/docs/CPS_LIAISON.doc">CPS liaison</a>
          </li>
          <li>
            <a href="/laa/docs/sop-crm4-application-for-prior-authority.doc">CRM4 Application for prior authority</a>
          </li>
          <li>
            <a href="/laa/docs/sop-crm5-application-extension-upper-limit.doc">CRM5 Application for extension of upper limit</a>
          </li>
          <li>
            <a href="/laa/docs/sop-crm7-non-standard-fee-contract-work-assessment.doc">CRM7 Non standard fee contract work assessment</a>
          </li>
          <li>
            <a href="/laa/docs/sop-crm18-escape-fee-case-claims.doc">CRM18 Escape fee case claims</a>
          </li>
          <li>
            <a href="/laa/docs/cds18a-backup.doc">CRM18A backup</a>
          </li>
          <li>
            <a href="/laa/docs/sop-crm18a-escape-fee-case-claims-prison-law.doc">CRM18A Escape fee case claim - prison law</a>
          </li>
          <li>
            <a href="/laa/docs/sop-pl1-application-prior-approval-prison-law.doc">PL1 Application for prior approval prison law</a>
          </li>
        </ul>
        <h2>
          SOPs for AGFS processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/sop-af1-graduated-fee-claims.doc">AF1 graduated fee claim</a>
          </li>
          <li>
            <a href="/laa/docs/sop-af1-claim-processing-lar-changes.doc">AF1 - LAR changes</a>
          </li>
          <li>
            <a href="/laa/docs/agfs2.doc">AF2 Advocate graduated fee redetermination</a>
          </li>
          <li>
            <a href="/laa/docs/agfs3.doc">AF3 Requests for missing information for court record sheets</a>
          </li>
          <li>
            <a href="/laa/docs/agfs4.doc">AF4 Claims for hardship/staged payments</a>
          </li>
          <li>
            <a href="/laa/docs/agfs6.doc">AF6 Temporary solutions</a>
          </li>
        </ul>
        <h2>
          SOPs for LGFS processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/lgfs-01-graduated-fee-claim.docx">LF1 - Graduated Fee Claim</a>
          </li>
          <li>
            <a href="/laa/docs/lf1-graduated-fees-received.docx">LF1 - Graduated Fee Claim - Process Map</a>
          </li>
          <li>
            <a href="/laa/docs/lgfs-02-graduated-fee-claim.docx">LF2 - Graduated Fee Claim</a>
          </li>
        </ul>
        <h2>
          SOPs for CAT processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/cat-sop.doc">CAT SOP</a>
          </li>
          <li>
            <a href="/laa/docs/cases-not-on-libra-sop.doc">Cases Not on Libra SOP</a>
          </li>
        </ul>
        <h2>
          Supplementary notes for CAT processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/crime-applications-reference-tool-feb-2016.pdf">Crime Applications Reference Tool</a>
          </li>
          <li>
            <a href="/laa/docs/introduction-to-legal-aid-and-the-criminal-justice-system.pdf">Introduction to legal aid and the justice system</a>
          </li>
          <li>
            <a href="/laa/docs/ioj-workbook.pdf">IoJ workbook</a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/314453/LAA-guidance-consideration-defence-representation-order-applications.pdf">Guidance on consideration of defence representation order applications</a>
          </li>
          <li>
            <a href="https://www.sentencingcouncil.org.uk/wp-content/uploads/MCSG_web_-_October_2014.pdf">Sentencing guidelines</a>
          </li>
          <li>
            <a href="/laa/docs/offences-table.pdf">List of offences</a>
          </li>
          <li>
            <a href="/laa/docs/alternative-court-names.xls">Alternative court names</a>
          </li>
          <li>
            <a href="http://intranet.justice.gsi.gov.uk/laa/docs/minimising-rejects.pdf">Minimising rejects</a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/302293/legal-aid-guidance-CRM14-and-CRM15.pdf">CRM14/15 Form completion guidance</a>
          </li>
        </ul>
        <h2>
          SOPs for National Courts Team
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/capital-and-equity-checks.pdf">Capital and equity checks</a>
          </li>
          <li>
            <a href="/laa/docs/sop-crm14-15-application-for-legal-aid.doc">CRM 14/15 Application for legal aid in criminal proceedings</a>
          </li>
          <li>
            <a href="/laa/docs/crm14-15-mvo-details-into-maat.doc">CRM14/15 How to enter MVO details into MAAT</a>
          </li>
          <li>
            <a href="/laa/docs/sop-crm14-15-nct-incomplete-referrals.doc">CRM14/15 NCT incomplete referrals</a>
          </li>
          <li>
            <a href="/laa/docs/restraint-order-guidance.pdf">CRM14/15 NCT restraint order</a>
          </li>
          <li>
            <a href="">CRM 16 Hardship review</a>
          </li>
          <li>
            <a href="/laa/docs/sop-income-sanctions.doc">Income sanctions</a>
          </li>
          <li>
            <a href="/laa/docs/reviewing-capital-contribution-orders.pdf">NCT Capital contributions - reviewing changes in circumstances</a>
          </li>
          <li>
            <a href="/laa/docs/national-courts-team-local-quality-control.pdf">NCT local quality control</a>
          </li>
          <li>
            <a href="/laa/docs/sop-siu-referrals.doc">SIU referrals</a>
          </li>
          <li>
            <a href="/laa/docs/sop-withdrawls-and-undertakings.doc">Withdrawls and undertakings</a>
          </li>
        </ul>
        <h2>
          Supplementary notes for NCT processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/minimising-rejects.pdf">Minimising rejects</a>
          </li>
        </ul>


      </div>



  </div>




</main>

{% endblock %}
