{% extends "layout-opg-a.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/opg-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-a/guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-a/hr" class="breadcrumb-link">HR</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Support and wellbeing

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
          <ul>
            <li class="main-section"><a href="guidance1">Guidance &amp; forms</a></li>
            <li class="parent-section"><a href="/opg-a/hr/">HR</a></li>
            <li class="child-folder">
              <a href="/opg-a/hr/flexible-working/">Flexible working</a>
            </li>
            <li class="child-level-2">
              <a href="#">Appeals</a>
            </li>
            <li class="child-level-2">
              <a href="#">Case management support for managers</a>
            </li>
            <li class="child-level-2">
              <a href="#">Disability support</a>
            </li>
            <li class="child-level-2">
              <a href="#">Eyecare vouchers</a>
            </li>
            <li class="child-level-2 current-page">
              <a href="/opg-a/hr/support-wellbeing/flexible-working">Flexible working</a>
            </li>
            <li class="child-level-2">
              <a href="#">Mental wellbeing</a>
            </li>
            <li class="child-level-2">
              <a href="#">Parent and carer support</a>
            </li>
            <li class="child-level-2">
              <a href="#">Workplace mediation</a>
            </li>

          </ul>
      </div>

    </div>


    <div class="column-two-thirds content">

      <div class="">
        <h1 class="page-title">Flexible working</h1>

        <div class="page-metadata">
          <ul>
            <li>Content owner: <a href="mailto:hr@exmaple.com">OPG HR</a></li>
            <li>Last updated: 27 March 2016</li>
          </ul>

        </div>


        <p>OPG flexible working conditions are set out in the <a href="http://intranet.justice.gsi.gov.uk/opg/docs/flexi_guide_5.16_final.pdf">guide to flexible working</a>.</p>








    </div>


  </div>




</main>

{% endblock %}
