{% extends "layout-opg-a.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/opg-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-a/guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-a/hr" class="breadcrumb-link">HR</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Support and wellbeing

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
          <ul>
            <li class="main-section"><a href="guidance1">Guidance &amp; forms</a></li>
            <li class="parent-section"><a href="/opg-a/hr/">HR</a></li>
            <li class="child-folder">
              <a href="/opg-a/hr/flexible-working">Flexible working</a>
            </li>
            <li class="child-level-2">
              <a href="#">Appeals</a>
            </li>
            <li class="child-level-2">
              <a href="#">Case management support for managers</a>
            </li>
            <li class="child-level-2">
              <a href="#">Disability support</a>
            </li>
            <li class="child-level-2">
              <a href="#">Eyecare vouchers</a>
            </li>
            <li class="child-level-2">
              <a href="/opg-a/hr/support-wellbeing/flexible-working">Flexible working</a>
            </li>
            <li class="child-level-2">
              <a href="#">Mental wellbeing</a>
            </li>
            <li class="child-level-2">
              <a href="#">Parent and carer support</a>
            </li>
            <li class="child-level-2">
              <a href="#">Workplace mediation</a>
            </li>

          </ul>
      </div>

    </div>


    <div class="column-two-thirds content">

      <div class="">
        <h1 class="page-title">Support and wellbeing</h1>

        <div class="page-metadata">
          <ul>
            <li>Content owner: <a href="mailto:hr@exmaple.com">MoJ HR</a></li>
            <li>Last updated: 27 March 2016</li>
          </ul>

        </div>





      <ul role="tablist" class="content-tabs  hidden">
                  <li class="current-menu-item" role="presentation" data-content="tab_1">
            <a id="tab-tab_1" role="tab" aria-selected="true" aria-controls="panel-tab_1" href="">Tab 1</a>
          </li>
              </ul>

      <div class="tab-content editable">
                      <h2>What you need to know</h2>
            <p>Work can be good for your physical and mental health. It plays an important part in your wellbeing.</p>
<p>There may be times when you can’t do your job properly or at all and require support.</p>
<p>The interactive MoJ Wellbeing Strategy and strategy annex: ‘Where to go for support’, outline MoJ’s commitment to your wellbeing.</p>
<p>There’s a range of support available to you.</p>
<p>Talk to your manager or look at the <a href="/documents/2015/04/hr-help-eap-leaflet.pdf">Employee Assistance Programme (EAP) leaflet<span class="sr-only"> pdf</span></a> or visit the <a href="/guidance/hr/support-and-wellbeing/employee-assistance-programme/">EAP pages</a> for confidential advice and information.</p>


            <ul>
                                          </ul>
                <h2>Downloads</h2>
                <ul>
                                                        <li>
                  <a href="/documents/2015/11/wellbeing-strategy.pdf">Wellbeing Strategy (PDF version)<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/11/wellbeing-strategy-interactive-version.pdf">Wellbeing Strategy (interactive version)<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/11/wellbeing-strategy-annex-where-to-go-for-support.pdf">Wellbeing Strategy: annex - Where to go for support<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/04/domestic-violence-policy-guidance.pdf">Domestic violence policy and guidance<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/04/hr-help-eap-leaflet.pdf">Employee assistance programme leaflet<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/04/sexual-assault-policy-guidance.pdf">Sexual assault policy and guidance<span class="sr-only"> pdf</span></a>
                </li>
                                                        </ul>
                <h2>External sites</h2>
                <ul>
                                                        <li>
                  <a href="http://www.acas.org.uk/index.aspx?articleid=1361">ACAS Health and wellbeing</a>
                </li>
                                                        <li>
                  <a href="http://www.foryoubyyou.org.uk/">Charity for civil servants</a>
                </li>
                                                        <li>
                  <a href="http://www.nhs.uk/change4life/Pages/change-for-life.aspx">NHS change 4 life</a>
                </li>
                                                        <li>
                  <a href="http://www.samaritans.org/">Samaritans</a>
                </li>
                                                        <li>
                  <a href="http://www.time-to-change.org.uk/">Time to change</a>
                </li>
                                                        </ul>
                <h2>Related pages</h2>
                <ul>
                                                        <li>
                  <a href="/guidance/hr/conduct-behaviour/bullying-and-harassment/">Bullying and harassment</a>
                </li>
                                                        <li>
                  <a href="/guidance/hr/support-and-wellbeing/employee-assistance-programme/">Employee Advice Programme (EAP)</a>
                </li>
                                                        <li>
                  <a href="/guidance/equality-and-diversity/">Equality and diversity</a>
                </li>
                                                        <li>
                  <a href="/guidance/hr/pay-benefits/deals-travel-food-entertainment/">MoJ Great Deals</a>
                </li>
                                                        <li>
                  <a href="/guidance/hr/sick-absence/occupational-health/">Occupational health (OU)</a>
                </li>
                                                        <li>
                  <a href="/guidance/equality-and-diversity/staff-neworks/">Staff networks</a>
                </li>
                                      </ul>
                  </div>
      <span class="date-updated">Last updated: <time>17 November 2015</time></span>

              <div id="panel-tab_1" data-template-type="tab-content" data-content-name="tab_1" class="template-partial editable" role="tabpanel" aria-labelled-by="tab-tab-tab_1">
                      <h2>What you need to know</h2>
            <p>Work can be good for your physical and mental health. It plays an important part in your wellbeing.</p>
<p>There may be times when you can’t do your job properly or at all and require support.</p>
<p>The interactive MoJ Wellbeing Strategy and strategy annex: ‘Where to go for support’, outline MoJ’s commitment to your wellbeing.</p>
<p>There’s a range of support available to you.</p>
<p>Talk to your manager or look at the <a href="/documents/2015/04/hr-help-eap-leaflet.pdf">Employee Assistance Programme (EAP) leaflet<span class="sr-only"> pdf</span></a> or visit the <a href="/guidance/hr/support-and-wellbeing/employee-assistance-programme/">EAP pages</a> for confidential advice and information.</p>


            <ul>
                                          </ul>
                <h2>Downloads</h2>
                <ul>
                                                        <li>
                  <a href="/documents/2015/11/wellbeing-strategy.pdf">Wellbeing Strategy (PDF version)<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/11/wellbeing-strategy-interactive-version.pdf">Wellbeing Strategy (interactive version)<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/11/wellbeing-strategy-annex-where-to-go-for-support.pdf">Wellbeing Strategy: annex - Where to go for support<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/04/domestic-violence-policy-guidance.pdf">Domestic violence policy and guidance<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/04/hr-help-eap-leaflet.pdf">Employee assistance programme leaflet<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/04/sexual-assault-policy-guidance.pdf">Sexual assault policy and guidance<span class="sr-only"> pdf</span></a>
                </li>
                                                        </ul>
                <h2>External sites</h2>
                <ul>
                                                        <li>
                  <a href="http://www.acas.org.uk/index.aspx?articleid=1361">ACAS Health and wellbeing</a>
                </li>
                                                        <li>
                  <a href="http://www.foryoubyyou.org.uk/">Charity for civil servants</a>
                </li>
                                                        <li>
                  <a href="http://www.nhs.uk/change4life/Pages/change-for-life.aspx">NHS change 4 life</a>
                </li>
                                                        <li>
                  <a href="http://www.samaritans.org/">Samaritans</a>
                </li>
                                                        <li>
                  <a href="http://www.time-to-change.org.uk/">Time to change</a>
                </li>
                                                        </ul>
                <h2>Related pages</h2>
                <ul>
                                                        <li>
                  <a href="/guidance/hr/conduct-behaviour/bullying-and-harassment/">Bullying and harassment</a>
                </li>
                                                        <li>
                  <a href="/guidance/hr/support-and-wellbeing/employee-assistance-programme/">Employee Advice Programme (EAP)</a>
                </li>
                                                        <li>
                  <a href="/guidance/equality-and-diversity/">Equality and diversity</a>
                </li>
                                                        <li>
                  <a href="/guidance/hr/pay-benefits/deals-travel-food-entertainment/">MoJ Great Deals</a>
                </li>
                                                        <li>
                  <a href="/guidance/hr/sick-absence/occupational-health/">Occupational health (OU)</a>
                </li>
                                                        <li>
                  <a href="/guidance/equality-and-diversity/staff-neworks/">Staff networks</a>
                </li>
                                      </ul>
                  </div>













    </div>


  </div>




</main>

{% endblock %}
