{% extends "layout-laa-a.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/intra-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-a/my-work" class="breadcrumb-link">My work</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-a/civil/" class="breadcrumb-link">Civil</a>
        <span class="separator"></span>
      </li>

      <li class="breadcrumb-item current">SOPs

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
        <ul>
          <li class="main-section"><a href="/intra-a/my-work">My work</a></li>
          <li class="parent-section"><a href="/intra-a/civil/">Civil</a></li>
          <li class="child">
            <a href="/intra-a/civil/guidance">Guidance</a>
          </li>
          <li class="child current-page">
            <a href="/intra-a/civil/sops">SOPs</a>
          </li>
          <li class="child">
            <a href="/intra-a/civil/desk-aids">Desk aids</a>
          </li>


        </ul>
      </div>

    </div>


    <div class="column-two-thirds content">


      <div class="">
        <h1 class="page-title">Civil SOPs</h1>

        <div class="page-metadata">
          <ul>
            <li>Content owner: <a href="mailto:hr@exmaple.com">LAA Operations</a></li>
            <li>Last updated: 27 March 2016</li>
          </ul>

        </div>
        <p>
          <strong>Standard operating procedures and supplementary notes</strong>
        </p>
        <h2>
          SOPs for legal/merits processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/asbcp-sop.pdf">Anti-Social Behaviour Crime and Policing Act (ASBCPA) 2014 Processing applications for legal aid representation and payment</a>
          </li>
          <li>
            <a href="/laa/docs/app1-3.pdf">App-1 &amp; App-3 Application for a Legal Aid certificate</a>
          </li>
          <li>
            <a href="/laa/docs/app5.pdf">App 5 Application for Legal Aid in Special Children Act 1989 cases</a>
          </li>
          <li>
            <a href="/laa/docs/app6-sop.pdf">App 6 Emergency Application</a>
          </li>
          <li>
            <a href="/laa/docs/app8.pdf">App 8 Application for amendment or prior authority</a>
          </li>
          <li>
            <a href="/laa/docs/app9-legal-_appeals-sop.doc">App 9 Application to appeal a decision of the Legal Aid Agency</a>
          </li>
          <li>
            <a href="/laa/docs/App11-SOP-May12.pdf">App 11 application for a Withdrawal</a>
          </li>
          <li>
            <a href="/laa/docs/jr-discretionary-payment-sop.pdf">Judicial Review Discretionary Payment SOP</a>
          </li>
          <li>
            <a href="/laa/docs/Merits-Reps.pdf">Merits representations</a>
          </li>
          <li>
            <a href="/laa/docs/rejects-screening-guidance.doc">Rejects screening guidance</a>
          </li>
        </ul>
        <h2>
          Supplementary notes for legal/merits processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/appeals(1).ppt">Appeals</a>
          </li>
          <li>
            <a href="/laa/docs/devolved-powers-checklist.doc">Devolved powers checklist</a>
          </li>
          <li>
            <a href="/laa/docs/lat-jr-permission-desk-aid.pdf">Judicial Review Discretionary Payment Desk Aid</a>
          </li>
          <li>
            <a href="/laa/docs/lat-family-deskaid.pdf">LAT Family Desk Aid</a>
          </li>
          <li>
            <a href="/laa/docs/Standardised-Amendments-Authorities.ppt">Standardised assessments and authorities</a>
          </li>
        </ul>
        <h2>
          Client and Cost Management System (CCMS) SOPs
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/ccms-means-sop.doc">CCMS means SOP</a>
          </li>
          <li>
            <a href="/laa/docs/merits-application-amendment-sops-guidance.pdf">Merits Application &amp; Amendment SOPs</a>
          </li>
          <li>
            <a href="/laa/docs/provider-transfer-sops.pdf">Provider Transfer SOP</a>
          </li>
          <li>
            <a href="/laa/docs/emergency-sops.pdf">Emergency APP 6 SOP</a>
          </li>
        </ul>
        <h2>
          SOPs for High Cost/Complex Cases
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/vhcc-case-plan-ccms-sop.docx">Very High Cost Cases Case Plan CCMS SOP</a>
          </li>
          <li>
            <a href="/laa/docs/very-high-cost-case-case-planning.pdf">Very High Cost Family Contract</a>
          </li>
          <li>
            <a href="/laa/docs/exceptional-cases-funding-sops.doc">CIV ECF1 Application for Exceptional Case Funding</a>
          </li>
        </ul>
        <h2>
          SOPs for means processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/business-means-reassessment-sop.pdf">Business reassessments</a>
          </li>
          <li>
            <a href="/laa/docs/civbusinessmeans1-sop.pdf">CIV Business Means 1</a>
          </li>
          <li>
            <a href="/laa/docs/civmeans1-sop.pdf">CIV Means 1</a>
          </li>
          <li>
            <a href="/laa/docs/civ-means2-sop.pdf">CIV Means 2</a>
          </li>
          <li>
            <a href="/laa/docs/company-directors-financial-means-sop.pdf">Processing means: company director</a>
          </li>
          <li>
            <a href="/laa/docs/means-reassessment-sop.pdf">Processing a means reassessment</a>
          </li>
          <li>
            <a href="/laa/docs/means-reps-sop.pdf">Processing means: representations</a>
          </li>
          <li>
            <a href="/laa/docs/income-passporting-benefit.pdf">Checking for an income passporting benefit</a>
          </li>
        </ul>
        <h2>
          Supplementary notes for means processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/m6-trust.doc">M6 Trust/Will</a>
          </li>
          <li>
            <a href="/laa/docs/l31-selfemployedincome.pdf">L31 form - Partnership or self employed work</a>
          </li>
          <li>
            <a href="/laa/docs/l57-soletraderincome.pdf">L57 form - Assessment of profit from accounts - sole trader</a>
          </li>
          <li>
            <a href="/laa/docs/l58-partnership-income.pdf">L58 forn - Assessment of profits fro accounts - Partnership</a>
          </li>
          <li>
            <a href="/laa/docs/l60-soletradercapital.pdf">L60 form - Assessment of business capital - sole trader</a>
          </li>
          <li>
            <a href="/laa/docs/l61-partnershipcapital.pdf">L61 form - Assessment of business capital for a partner</a>
          </li>
          <li>
            <a href="/laa/docs/l62-directorshipcapital.pdf">L62 form - Assessment of business capital - Director</a>
          </li>
          <li>
            <a href="/laa/docs/l63-directorshipincome.pdf">L63 form - Assessment of business income - Director</a>
          </li>
          <li>
            <a href="/laa/docs/Means-further-info-not-necessary.doc">Further information not necessary</a>
          </li>
          <li>
            <a href="/laa/docs/Means_25.doc">Means 25</a>
          </li>
          <li>
            <a href="/laa/docs/means-assessment-manual.pdf">Means assessment manual</a>
          </li>
          <li>
            <a href="/laa/docs/provider-means-training.pdf">Means assessment provider training</a>
          </li>
          <li>
            <a href="/laa/docs/means-assessment-training-supplementary-narrative.pdf">Means assessment training supplementary narrative</a>
          </li>
          <li>
            <a href="/laa/docs/means-training.ppt">Means business training</a>
          </li>
          <li>
            <a href="/laa/docs/means-reassessments-supplementary-notes.pdf">Means reassessments</a>
          </li>
          <li>
            <a href="/laa/docs/sup-note-sop-bank-statement.doc">Bank statements guidance</a>
          </li>
          <li>
            <a href="/laa/docs/means-assessment-training.ppt">Means training</a>
          </li>
          <li>
            <a href="/laa/docs/review-of-means-assessments-supplementary-notes.pdf">Review of means assessments</a>
          </li>
          <li>
            <a href="/laa/docs/revocations-appeals-guidance.doc">Appeal and revocations guidance</a>
          </li>
          <li>
            <a href="/laa/docs/mandate-revocation-guidance.doc">Mandate revocation guidance</a>
          </li>
          <li>
            <a href="/laa/docs/Assist_Sched.doc">Schedule of assistance</a>
          </li>
          <li>
            <a href="/laa/docs/SIU_LAA_Memorandum_of_Referral_for_Civil_Cases_(3).doc">SIU LAA Memorandum of Referral for Civil Cases</a>
          </li>
        </ul>
        <h2>
          SOPs for finance/billling processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/statutory-charge.doc">Application of the Statutory Charge</a>
          </li>
          <li>
            <a href="/laa/docs/sop-civclaim1-risk-based-bill-assessment.pdf">CIV Claim 1 Risk based bill assessment</a>
          </li>
          <li>
            <a href="/laa/docs/claim1-1a-court-assessed-taxed-bills.doc">CIV Claim 1/1A Processing court assessed bills</a>
          </li>
          <li>
            <a href="/laa/docs/sop-civclaim1a-processing-claim-against-fund.doc">CIV CLAIM1A Processing a claim against the Fund</a>
          </li>
          <li>
            <a href="/laa/docs/sop-civclaim2-report-civil-cases-costs_met-by-other-party.doc">CIV CLAIM2 Report in civil cases - costs met in part or in full by other party</a>
          </li>
          <li>
            <a href="/laa/docs/sop-civclaim5-family-graduated-fee.doc">CIV CLAIM5 Claim for Family Graduated Fee (Counsel)</a>
          </li>
          <li>
            <a href="/laa/docs/sop-civclaim5a-family-advocacy-scheme.doc">CIV CLAIM5A Claim for Family Advocacy Scheme (Counsel)</a>
          </li>
          <li>
            <a href="/laa/docs/poa-claim.doc">CIV POA1</a>
          </li>
          <li>
            <a href="/laa/docs/escape-cases-sop.pdf">EC Claim 1 Escape Fee case claim</a>
          </li>
          <li>
            <a href="/laa/docs/sop-processing-cost-appeals.doc">Processing appeals</a>
          </li>
          <li>
            <a href="/laa/docs/sop-processing-cost-appeals.doc">Processing cost appeals</a>
          </li>
          <li>
            <a href="/laa/docs/vhcc-contracting.doc">VHCC contract</a>
          </li>
          <li>
            <a href="/laa/docs/vhcc-contracting-billing.doc">VHCC family contract billing under case planning</a>
          </li>
          <li>
            <a href="/laa/docs/SOP-finance-bill-rejects.pdf">Finance Bill Rejects</a>
          </li>
          <li>
            <a href="/laa/docs/complete-reject-checks.pdf">Complete reject checks</a>
          </li>
        </ul>
        <h2>
          QC checklists for finance/billing processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/appeal-qc-checklist.doc">Appeal QC checklist</a>
          </li>
          <li>
            <a href="/laa/docs/court-assessed-qc-checklist.doc">Court assessed QC checklist</a>
          </li>
          <li>
            <a href="/laa/docs/laa-assessed-bills-qc-checklist.doc">LAA assessed QC checklist</a>
          </li>
          <li>
            <a href="/laa/docs/fgf-qc-checklist.doc">FGF QC checklist</a>
          </li>
          <li>
            <a href="/laa/docs/fas-qc-checklist.doc">FAS QC checklist</a>
          </li>
          <li>
            <a href="/laa/docs/claim-2-qc-checklist.doc">Claim 2 QC checklist</a>
          </li>
        </ul>
        <h2>
          Supplementary notes for finance/billing processes
        </h2>
        <ul>
          <li>
            <a href="/laa/docs/ho-report-form.doc">HO report form</a>
          </li>
          <li>
            <a href="/laa/docs/ex-gratia-requests.doc">Ex Gratia requests</a>
          </li>
          <li>
            <a href="/laa/docs/assessment-codes.doc">Assessment Codes</a>
          </li>
          <li>
            <a href="/laa/docs/expert-hourly-rates.doc">Expert Rates</a>
          </li>
          <li>
            <a href="/laa/docs/fas-reject-checklist-desk-aid.doc">FAS Reject Codes Desk Aid</a>
          </li>
          <li>
            <a href="/laa/docs/care-process-flow-chart.pdf">Care process flow chart</a>
          </li>
          <li>
            <a href="/laa/docs/clacs-clans.doc">CLACS and CLANS</a>
          </li>
          <li>
            <a href="/laa/docs/delegated-authority-guidance.doc">Delegated authority</a>
          </li>
          <li>
            <a href="/laa/docs/legal-terms-glossary.doc">Glossary of legal terms</a>
          </li>
          <li>
            <a href="/laa/docs/reject-reasons-desk-aid.pdf">Reject reasons desk aid</a>
          </li>
          <li>
            <a href="/laa/docs/statutory-charge-deferment-process.doc">Statutory Charge deferrment process</a>
          </li>
          <li>
            <a href="/laa/docs/stat-charge-manual.pdf">Statutory Charge manual</a>
          </li>
        </ul>
      </div><!-- main content ends -->



      </div>



  </div>




</main>

{% endblock %}
