Civil Sops

<h1>
            Civil SOPs
          </h1>
          <p>
            <strong>Standard operating procedures and supplementary notes</strong>
          </p>
          <h2>
            SOPs for legal/merits processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/asbcp-sop.pdf">Anti-Social Behaviour Crime and Policing Act (ASBCPA) 2014 Processing applications for legal aid representation and payment</a>
            </li>
            <li>
              <a href="/laa/docs/app1-3.pdf">App-1 &amp; App-3 Application for a Legal Aid certificate</a>
            </li>
            <li>
              <a href="/laa/docs/app5.pdf">App 5 Application for Legal Aid in Special Children Act 1989 cases</a>
            </li>
            <li>
              <a href="/laa/docs/app6-sop.pdf">App 6 Emergency Application</a>
            </li>
            <li>
              <a href="/laa/docs/app8.pdf">App 8 Application for amendment or prior authority</a>
            </li>
            <li>
              <a href="/laa/docs/app9-legal-_appeals-sop.doc">App 9 Application to appeal a decision of the Legal Aid Agency</a>
            </li>
            <li>
              <a href="/laa/docs/App11-SOP-May12.pdf">App 11 application for a Withdrawal</a>
            </li>
            <li>
              <a href="/laa/docs/jr-discretionary-payment-sop.pdf">Judicial Review Discretionary Payment SOP</a>
            </li>
            <li>
              <a href="/laa/docs/Merits-Reps.pdf">Merits representations</a>
            </li>
            <li>
              <a href="/laa/docs/rejects-screening-guidance.doc">Rejects screening guidance</a>
            </li>
          </ul>
          <h2>
            Supplementary notes for legal/merits processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/appeals(1).ppt">Appeals</a>
            </li>
            <li>
              <a href="/laa/docs/devolved-powers-checklist.doc">Devolved powers checklist</a>
            </li>
            <li>
              <a href="/laa/docs/lat-jr-permission-desk-aid.pdf">Judicial Review Discretionary Payment Desk Aid</a>
            </li>
            <li>
              <a href="/laa/docs/lat-family-deskaid.pdf">LAT Family Desk Aid</a>
            </li>
            <li>
              <a href="/laa/docs/Standardised-Amendments-Authorities.ppt">Standardised assessments and authorities</a>
            </li>
          </ul>
          <h2>
            Client and Cost Management System (CCMS) SOPs
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/ccms-means-sop.doc">CCMS means SOP</a>
            </li>
            <li>
              <a href="/laa/docs/merits-application-amendment-sops-guidance.pdf">Merits Application &amp; Amendment SOPs</a>
            </li>
            <li>
              <a href="/laa/docs/provider-transfer-sops.pdf">Provider Transfer SOP</a>
            </li>
            <li>
              <a href="/laa/docs/emergency-sops.pdf">Emergency APP 6 SOP</a>
            </li>
          </ul>
          <h2>
            SOPs for High Cost/Complex Cases
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/vhcc-case-plan-ccms-sop.docx">Very High Cost Cases Case Plan CCMS SOP</a>
            </li>
            <li>
              <a href="/laa/docs/very-high-cost-case-case-planning.pdf">Very High Cost Family Contract</a>
            </li>
            <li>
              <a href="/laa/docs/exceptional-cases-funding-sops.doc">CIV ECF1 Application for Exceptional Case Funding</a>
            </li>
          </ul>
          <h2>
            SOPs for means processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/business-means-reassessment-sop.pdf">Business reassessments</a>
            </li>
            <li>
              <a href="/laa/docs/civbusinessmeans1-sop.pdf">CIV Business Means 1</a>
            </li>
            <li>
              <a href="/laa/docs/civmeans1-sop.pdf">CIV Means 1</a>
            </li>
            <li>
              <a href="/laa/docs/civ-means2-sop.pdf">CIV Means 2</a>
            </li>
            <li>
              <a href="/laa/docs/company-directors-financial-means-sop.pdf">Processing means: company director</a>
            </li>
            <li>
              <a href="/laa/docs/means-reassessment-sop.pdf">Processing a means reassessment</a>
            </li>
            <li>
              <a href="/laa/docs/means-reps-sop.pdf">Processing means: representations</a>
            </li>
            <li>
              <a href="/laa/docs/income-passporting-benefit.pdf">Checking for an income passporting benefit</a>
            </li>
          </ul>
          <h2>
            Supplementary notes for means processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/m6-trust.doc">M6 Trust/Will</a>
            </li>
            <li>
              <a href="/laa/docs/l31-selfemployedincome.pdf">L31 form - Partnership or self employed work</a>
            </li>
            <li>
              <a href="/laa/docs/l57-soletraderincome.pdf">L57 form - Assessment of profit from accounts - sole trader</a>
            </li>
            <li>
              <a href="/laa/docs/l58-partnership-income.pdf">L58 forn - Assessment of profits fro accounts - Partnership</a>
            </li>
            <li>
              <a href="/laa/docs/l60-soletradercapital.pdf">L60 form - Assessment of business capital - sole trader</a>
            </li>
            <li>
              <a href="/laa/docs/l61-partnershipcapital.pdf">L61 form - Assessment of business capital for a partner</a>
            </li>
            <li>
              <a href="/laa/docs/l62-directorshipcapital.pdf">L62 form - Assessment of business capital - Director</a>
            </li>
            <li>
              <a href="/laa/docs/l63-directorshipincome.pdf">L63 form - Assessment of business income - Director</a>
            </li>
            <li>
              <a href="/laa/docs/Means-further-info-not-necessary.doc">Further information not necessary</a>
            </li>
            <li>
              <a href="/laa/docs/Means_25.doc">Means 25</a>
            </li>
            <li>
              <a href="/laa/docs/means-assessment-manual.pdf">Means assessment manual</a>
            </li>
            <li>
              <a href="/laa/docs/provider-means-training.pdf">Means assessment provider training</a>
            </li>
            <li>
              <a href="/laa/docs/means-assessment-training-supplementary-narrative.pdf">Means assessment training supplementary narrative</a>
            </li>
            <li>
              <a href="/laa/docs/means-training.ppt">Means business training</a>
            </li>
            <li>
              <a href="/laa/docs/means-reassessments-supplementary-notes.pdf">Means reassessments</a>
            </li>
            <li>
              <a href="/laa/docs/sup-note-sop-bank-statement.doc">Bank statements guidance</a>
            </li>
            <li>
              <a href="/laa/docs/means-assessment-training.ppt">Means training</a>
            </li>
            <li>
              <a href="/laa/docs/review-of-means-assessments-supplementary-notes.pdf">Review of means assessments</a>
            </li>
            <li>
              <a href="/laa/docs/revocations-appeals-guidance.doc">Appeal and revocations guidance</a>
            </li>
            <li>
              <a href="/laa/docs/mandate-revocation-guidance.doc">Mandate revocation guidance</a>
            </li>
            <li>
              <a href="/laa/docs/Assist_Sched.doc">Schedule of assistance</a>
            </li>
            <li>
              <a href="/laa/docs/SIU_LAA_Memorandum_of_Referral_for_Civil_Cases_(3).doc">SIU LAA Memorandum of Referral for Civil Cases</a>
            </li>
          </ul>
          <h2>
            SOPs for finance/billling processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/statutory-charge.doc">Application of the Statutory Charge</a>
            </li>
            <li>
              <a href="/laa/docs/sop-civclaim1-risk-based-bill-assessment.pdf">CIV Claim 1 Risk based bill assessment</a>
            </li>
            <li>
              <a href="/laa/docs/claim1-1a-court-assessed-taxed-bills.doc">CIV Claim 1/1A Processing court assessed bills</a>
            </li>
            <li>
              <a href="/laa/docs/sop-civclaim1a-processing-claim-against-fund.doc">CIV CLAIM1A Processing a claim against the Fund</a>
            </li>
            <li>
              <a href="/laa/docs/sop-civclaim2-report-civil-cases-costs_met-by-other-party.doc">CIV CLAIM2 Report in civil cases - costs met in part or in full by other party</a>
            </li>
            <li>
              <a href="/laa/docs/sop-civclaim5-family-graduated-fee.doc">CIV CLAIM5 Claim for Family Graduated Fee (Counsel)</a>
            </li>
            <li>
              <a href="/laa/docs/sop-civclaim5a-family-advocacy-scheme.doc">CIV CLAIM5A Claim for Family Advocacy Scheme (Counsel)</a>
            </li>
            <li>
              <a href="/laa/docs/poa-claim.doc">CIV POA1</a>
            </li>
            <li>
              <a href="/laa/docs/escape-cases-sop.pdf">EC Claim 1 Escape Fee case claim</a>
            </li>
            <li>
              <a href="/laa/docs/sop-processing-cost-appeals.doc">Processing appeals</a>
            </li>
            <li>
              <a href="/laa/docs/sop-processing-cost-appeals.doc">Processing cost appeals</a>
            </li>
            <li>
              <a href="/laa/docs/vhcc-contracting.doc">VHCC contract</a>
            </li>
            <li>
              <a href="/laa/docs/vhcc-contracting-billing.doc">VHCC family contract billing under case planning</a>
            </li>
            <li>
              <a href="/laa/docs/SOP-finance-bill-rejects.pdf">Finance Bill Rejects</a>
            </li>
            <li>
              <a href="/laa/docs/complete-reject-checks.pdf">Complete reject checks</a>
            </li>
          </ul>
          <h2>
            QC checklists for finance/billing processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/appeal-qc-checklist.doc">Appeal QC checklist</a>
            </li>
            <li>
              <a href="/laa/docs/court-assessed-qc-checklist.doc">Court assessed QC checklist</a>
            </li>
            <li>
              <a href="/laa/docs/laa-assessed-bills-qc-checklist.doc">LAA assessed QC checklist</a>
            </li>
            <li>
              <a href="/laa/docs/fgf-qc-checklist.doc">FGF QC checklist</a>
            </li>
            <li>
              <a href="/laa/docs/fas-qc-checklist.doc">FAS QC checklist</a>
            </li>
            <li>
              <a href="/laa/docs/claim-2-qc-checklist.doc">Claim 2 QC checklist</a>
            </li>
          </ul>
          <h2>
            Supplementary notes for finance/billing processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/ho-report-form.doc">HO report form</a>
            </li>
            <li>
              <a href="/laa/docs/ex-gratia-requests.doc">Ex Gratia requests</a>
            </li>
            <li>
              <a href="/laa/docs/assessment-codes.doc">Assessment Codes</a>
            </li>
            <li>
              <a href="/laa/docs/expert-hourly-rates.doc">Expert Rates</a>
            </li>
            <li>
              <a href="/laa/docs/fas-reject-checklist-desk-aid.doc">FAS Reject Codes Desk Aid</a>
            </li>
            <li>
              <a href="/laa/docs/care-process-flow-chart.pdf">Care process flow chart</a>
            </li>
            <li>
              <a href="/laa/docs/clacs-clans.doc">CLACS and CLANS</a>
            </li>
            <li>
              <a href="/laa/docs/delegated-authority-guidance.doc">Delegated authority</a>
            </li>
            <li>
              <a href="/laa/docs/legal-terms-glossary.doc">Glossary of legal terms</a>
            </li>
            <li>
              <a href="/laa/docs/reject-reasons-desk-aid.pdf">Reject reasons desk aid</a>
            </li>
            <li>
              <a href="/laa/docs/statutory-charge-deferment-process.doc">Statutory Charge deferrment process</a>
            </li>
            <li>
              <a href="/laa/docs/stat-charge-manual.pdf">Statutory Charge manual</a>
            </li>
          </ul>
        </div><!-- main content ends -->


Civil Guidance
<h1>
            Civil guidance
          </h1>
          <p>
            <strong>These are the guidance documents most frequently used in civil work.</strong>
          </p>
          <ul>
            <li>
              <a href="/laa/docs/stat-charge-manual.pdf">Statutory Charge Manual</a>
            </li>
            <li>
              <a href="/laa/docs/means-assessment-manual.pdf">Means assessment manual</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/forms/legal-aid-agency/civil-forms/applications">Application forms</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/downloads/forms/legal-aid/civil-certificated-billing-codes.pdf">Certificated billing codes</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/downloads/legal-aid/funding-code/electronic-handbook.pdf">Civil finance electronic handboook</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/forms/legal-aid-agency/civil-forms/claims">Claim forms</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/downloads/legal-aid/funding-code/costs-assessment-guidance-2010-standard-contract.pdf">Cost assessment guidance (2010 contract)</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/downloads/legal-aid/funding-code/costs-assessment-guidance-2013-standard-contract.pdf">Cost assessment guidance (2013 contract)</a>
            </li>
            <li>
              <a href="http://civil-eligibility-calculator.justice.gov.uk/">Eligibility calculator</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/legal-aid/funding/exceptional-cases-funding">Exceptional Cases Funding (ECF) cases - information for providers</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/legal-aid/areas-of-work/civil/high-cost-cases">Guidance on High Cost Civil Cases</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/downloads/legal-aid/lsc-online/civil-rep-guidance-on-proceeding-codes-limitations-2013.pdf">Proceeding codes and limitations</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/legal-aid/financial-statements-bacs-dates/civil-payment-dates">Processing time standards</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/forms/legal-aid-agency/civil-forms/claims">Rates calculator</a>
            </li>
            <li>
              <a href="http://www.justice.gov.uk/downloads/forms/legal-aid/civil-forms/rates-calculator-guidance.docx">Rates calculator guidance</a>
            </li>
          </ul>
          <h2>
            Training materials
          </h2>
          <h3>
            Civil finance/billing
          </h3>
          <ul>
            <li>
              <a href="/laa/docs/cis-process.doc">CIS Process</a>
            </li>
            <li>
              <a href="/laa/docs/advocacy.ppt">Advocacy</a>
            </li>
            <li>
              <a href="/laa/docs/appeals(1).ppt">Appeals</a>
            </li>
            <li>
              <a href="/laa/docs/courts-structure-overview.ppt">Court structure overview</a>
            </li>
            <li>
              <a href="/laa/docs/cpgfs.ppt">CPGFS</a>
            </li>
            <li>
              <a href="/laa/docs/disbursements-_bill-assessors.ppt">Disbursements - bill assessors</a>
            </li>
            <li>
              <a href="/laa/docs/disbursements-non-assessors.ppt">Disbursements non assessors</a>
            </li>
            <li>
              <a href="/laa/docs/enhancement.ppt">Enhancement</a>
            </li>
            <li>
              <a href="/laa/docs/family-overview.ppt">Family overview</a>
            </li>
            <li>
              <a href="/laa/docs/fas.ppt">Family Advocacy Scheme</a>
            </li>
            <li>
              <a href="/laa/docs/fee-scheme-overview.ppt">Fee scheme overview</a>
            </li>
            <li>
              <a href="/laa/docs/fgf-training.ppt">FGF training</a>
            </li>
            <li>
              <a href="/laa/docs/judicial-review.ppt">Judicial Review</a>
            </li>
            <li>
              <a href="/laa/docs/poa-training.ppt">POA training</a>
            </li>
            <li>
              <a href="/laa/docs/pflrs-fixed-fees.ppt">PFLRS</a>
            </li>
            <li>
              <a href="/laa/docs/scope-training-slides.ppt">Scope training slides</a>
            </li>
            <li>
              <a href="/laa/docs/statutory-charge-deferment-process.pdf">Statutory Charge deferrment process</a>
            </li>
            <li>
              <a href="/laa/docs/statutory-charge-module1.ppt">Statutory Charge module 1</a>
            </li>
            <li>
              <a href="/laa/docs/statutory-charge-module2.ppt">Statutory Charge module 2</a>
            </li>
            <li>
              <a href="/laa/docs/statutory-charge-module3.ppt">Statutory Charge module 3</a>
            </li>
            <li>
              <a href="/laa/docs/training-modules-required_.xls">Training modules required</a>
            </li>
          </ul>


ALL DESK AIDS
<h1>
            Desk aids
          </h1>
          <p>
            A series of deskaids have been produced across Case Management for caseworkers to use on-line or print off for their desk as quick points of reference for key areas.
          </p>
          <p>
            In addition,&nbsp;there is&nbsp;a blank template for any future desk aids that you may need. Any new deskaids must be signed off by the process owner before being submitted for publication.
          </p>
          <p>
            &nbsp;
          </p>
          <h3>
            Template
          </h3>
          <ul>
            <li>
              <a href="/laa/docs/case-management-desk-aid-template.pub">Desk aid template</a>
            </li>
          </ul>
          <h2>
            Civil desk aids
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/provider-travel-desk-aid.pdf">Provider travel desk aid</a>
            </li>
            <li>
              <a href="https://www.justiceacademy.org.uk/course/view.php?id=531">Civil Fees (02 December 2013) - Justice Academy</a>
            </li>
            <li>
              <a href="/laa/docs/eligibility-deskaid-2015.pdf">Detailed eligibility limits</a>
            </li>
            <li>
              <a href="/laa/docs/eligibility-desk-aid.pdf">Eligibility</a>
            </li>
            <li>
              <a href="/laa/docs/fee-scheme-exclusions.pdf">Fee Scheme exclusions</a>
            </li>
            <li>
              <a href="/laa/docs/financial-regulations-deskaid.pdf">Financial regulations</a>
            </li>
            <li>
              <a href="/laa/docs/lat-december-change-civil-deskaid.pdf">LAT December 2013 changes &ndash; Civil desk aid 1</a>
            </li>
            <li>
              <a href="/laa/docs/lat-december-change-civil-deskaid-2.pdf">LAT December 2013 changes &ndash; Civil desk aid 2</a>
            </li>
            <li>
              <a href="/laa/docs/means-2-deskaid.pdf">Means: Means2 deskaid</a>
            </li>
            <li>
              <a href="/laa/docs/means-fraud-awareness.pdf">Means: Fraud awareness (civil means)</a>
            </li>
            <li>
              <a href="/laa/docs/means-risk-assessment.pdf">Means: Risk assessments (civil means)</a>
            </li>
            <li>
              <a href="https://www.justiceacademy.org.uk/course/view.php?id=531">Overview to Crime and Civil Changes (02 December 2013) - Justice Academy</a>
            </li>
            <li>
              <a href="/laa/docs/scope-discrimination-desk-aid.pdf">Scope: Discrimination</a>
            </li>
            <li>
              <a href="/laa/docs/scope-education-desk-aid.pdf">Scope: Education</a>
            </li>
            <li>
              <a href="/laa/docs/scope-family-desk-aid.pdf">Scope: Family</a>
            </li>
            <li>
              <a href="/laa/docs/scope-housing-debt-desk-aid.pdf">Scope: Housing and debt</a>
            </li>
            <li>
              <a href="/laa/docs/scope-immigration-asylum-desk-aid.pdf">Scope: Immigration and asylum</a>
            </li>
            <li>
              <a href="/laa/docs/scope-miscellaneous-desk-aid.pdf">Scope: Miscellaneous</a>
            </li>
            <li>
              <a href="/laa/docs/transitional-arrangements-desk-aid.pdf">Transitional arrangements</a>
            </li>
            <li>
              <a href="/laa/docs/civil-borderline-cases.pdf">Transitional arrangements for borderline merits changes taking effect on 27 January 2014</a>
            </li>
          </ul>
          <h2>
            Crime desk aids
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/ioj-desk-aid.pdf">IoJ desk aid</a>
            </li>
            <li>
              <a href="/laa/docs/ccmt-desk-aid.pdf">CCMT desk aid</a>
            </li>
            <li>
              <a href="/laa/docs/identifying-complaints-desk-aid.doc">Identifying complaints desk aid</a>
            </li>
            <li>
              <a href="/laa/docs/lat-december-changes-crime-deskaid.pdf">LAT December 2013 changes - Crime</a>
            </li>
            <li>
              <a href="https://www.justiceacademy.org.uk/course/view.php?id=531">Overview to Crime and Civil Changes, Crime Fees and Prison Law (02 December 2013) - Justice Academy</a>
            </li>
          </ul>
          <h2>
            IT desk aids
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/it-issues-deskaid.pdf">IT desk aid</a>
            </li>
          </ul>
          <h2>
            Related training modules
          </h2>
          <ul>
            <li>
              <a href="https://www.justiceacademy.org.uk/mod/scorm/view.php?id=3470">LAR Module 1: The new framework</a>
            </li>
            <li>
              <a href="https://www.justiceacademy.org.uk/mod/scorm/view.php?id=3471">LAR Module 2: Transitional arrangements</a>
            </li>
            <li>
              <a href="https://www.justiceacademy.org.uk/mod/scorm/view.php?id=3472">LAR module 3: Assessing applications for legal representation</a>
            </li>
          </ul>


CRIME SOPS
<h1>
            Crime SOPs
          </h1>
          <p>
            <strong>Standard operating procedures and guidance used in criminal case management</strong>
          </p>
          <h2>
            SOPs for billing processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/Admin_process_version_2_LAR.doc">Admin process</a>
            </li>
            <li>
              <a href="/laa/docs/CPS_LIAISON.doc">CPS liaison</a>
            </li>
            <li>
              <a href="/laa/docs/sop-crm4-application-for-prior-authority.doc">CRM4 Application for prior authority</a>
            </li>
            <li>
              <a href="/laa/docs/sop-crm5-application-extension-upper-limit.doc">CRM5 Application for extension of upper limit</a>
            </li>
            <li>
              <a href="/laa/docs/sop-crm7-non-standard-fee-contract-work-assessment.doc">CRM7 Non standard fee contract work assessment</a>
            </li>
            <li>
              <a href="/laa/docs/sop-crm18-escape-fee-case-claims.doc">CRM18 Escape fee case claims</a>
            </li>
            <li>
              <a href="/laa/docs/cds18a-backup.doc">CRM18A backup</a>
            </li>
            <li>
              <a href="/laa/docs/sop-crm18a-escape-fee-case-claims-prison-law.doc">CRM18A Escape fee case claim - prison law</a>
            </li>
            <li>
              <a href="/laa/docs/sop-pl1-application-prior-approval-prison-law.doc">PL1 Application for prior approval prison law</a>
            </li>
          </ul>
          <h2>
            SOPs for AGFS processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/sop-af1-graduated-fee-claims.doc">AF1 graduated fee claim</a>
            </li>
            <li>
              <a href="/laa/docs/sop-af1-claim-processing-lar-changes.doc">AF1 - LAR changes</a>
            </li>
            <li>
              <a href="/laa/docs/agfs2.doc">AF2 Advocate graduated fee redetermination</a>
            </li>
            <li>
              <a href="/laa/docs/agfs3.doc">AF3 Requests for missing information for court record sheets</a>
            </li>
            <li>
              <a href="/laa/docs/agfs4.doc">AF4 Claims for hardship/staged payments</a>
            </li>
            <li>
              <a href="/laa/docs/agfs6.doc">AF6 Temporary solutions</a>
            </li>
          </ul>
          <h2>
            SOPs for LGFS processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/lgfs-01-graduated-fee-claim.docx">LF1 - Graduated Fee Claim</a>
            </li>
            <li>
              <a href="/laa/docs/lf1-graduated-fees-received.docx">LF1 - Graduated Fee Claim - Process Map</a>
            </li>
            <li>
              <a href="/laa/docs/lgfs-02-graduated-fee-claim.docx">LF2 - Graduated Fee Claim</a>
            </li>
          </ul>
          <h2>
            SOPs for CAT processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/cat-sop.doc">CAT SOP</a>
            </li>
            <li>
              <a href="/laa/docs/cases-not-on-libra-sop.doc">Cases Not on Libra SOP</a>
            </li>
          </ul>
          <h2>
            Supplementary notes for CAT processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/crime-applications-reference-tool-feb-2016.pdf">Crime Applications Reference Tool</a>
            </li>
            <li>
              <a href="/laa/docs/introduction-to-legal-aid-and-the-criminal-justice-system.pdf">Introduction to legal aid and the justice system</a>
            </li>
            <li>
              <a href="/laa/docs/ioj-workbook.pdf">IoJ workbook</a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/314453/LAA-guidance-consideration-defence-representation-order-applications.pdf">Guidance on consideration of defence representation order applications</a>
            </li>
            <li>
              <a href="https://www.sentencingcouncil.org.uk/wp-content/uploads/MCSG_web_-_October_2014.pdf">Sentencing guidelines</a>
            </li>
            <li>
              <a href="/laa/docs/offences-table.pdf">List of offences</a>
            </li>
            <li>
              <a href="/laa/docs/alternative-court-names.xls">Alternative court names</a>
            </li>
            <li>
              <a href="http://intranet.justice.gsi.gov.uk/laa/docs/minimising-rejects.pdf">Minimising rejects</a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/302293/legal-aid-guidance-CRM14-and-CRM15.pdf">CRM14/15 Form completion guidance</a>
            </li>
          </ul>
          <h2>
            SOPs for National Courts Team
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/capital-and-equity-checks.pdf">Capital and equity checks</a>
            </li>
            <li>
              <a href="/laa/docs/sop-crm14-15-application-for-legal-aid.doc">CRM 14/15 Application for legal aid in criminal proceedings</a>
            </li>
            <li>
              <a href="/laa/docs/crm14-15-mvo-details-into-maat.doc">CRM14/15 How to enter MVO details into MAAT</a>
            </li>
            <li>
              <a href="/laa/docs/sop-crm14-15-nct-incomplete-referrals.doc">CRM14/15 NCT incomplete referrals</a>
            </li>
            <li>
              <a href="/laa/docs/restraint-order-guidance.pdf">CRM14/15 NCT restraint order</a>
            </li>
            <li>
              <a href="">CRM 16 Hardship review</a>
            </li>
            <li>
              <a href="/laa/docs/sop-income-sanctions.doc">Income sanctions</a>
            </li>
            <li>
              <a href="/laa/docs/reviewing-capital-contribution-orders.pdf">NCT Capital contributions - reviewing changes in circumstances</a>
            </li>
            <li>
              <a href="/laa/docs/national-courts-team-local-quality-control.pdf">NCT local quality control</a>
            </li>
            <li>
              <a href="/laa/docs/sop-siu-referrals.doc">SIU referrals</a>
            </li>
            <li>
              <a href="/laa/docs/sop-withdrawls-and-undertakings.doc">Withdrawls and undertakings</a>
            </li>
          </ul>
          <h2>
            Supplementary notes for NCT processes
          </h2>
          <ul>
            <li>
              <a href="/laa/docs/minimising-rejects.pdf">Minimising rejects</a>
            </li>
          </ul>

CRIME GUIDANCE
<ul>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/areas-of-work/crime/crown-courts/advocates-graduated-fee-scheme">Advocates Graduated Fee Scheme guidance</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/forms/legal-aid-agency/criminal-forms/applications">Application forms</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/forms/legal-aid-agency/criminal-forms/claims">Claim forms</a>
            </li>
            <li class="pdf http">
              <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/funding-code/criminal-bills-assessment-manual.pdf">Criminal bills assessment manual (CBAM)</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/assess-your-clients-eligibility/crime-eligibility">Criminal eligibility checker</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/newslatest-updates/crime-news/claiming-the-evidence-provision-fee">Claiming evidence provision fee</a>
            </li>
            <li class="pdf http">
              <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/eligibility/criminal-legal-aid-manual-jul-14.pdf">Criminal Legal Aid Manual (CLAM)</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/submit-claim/cclf">Crown Court litigator fee claims guidance</a>
            </li>
            <li class="pdf http">
              <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/eligibility/motor-vehicle-order-scheme-guidance.pdf">Crown Court Means Testing Motor Vehicle Order Scheme</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/areas-of-work/crime/crime">Guidance on high cost crime cases</a>
            </li>
            <li class="pdf http">
              <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/eligibility/list-of-criminal-offences.pdf">List of criminal offences</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/areas-of-work/crime/crown-courts/litigator-graduated-fee-scheme">Litigator fee scheme guidance</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/assess-your-clients-eligibility/crime-eligibility/payment-before-legal-aid-is-granted">Payment before legal aid is granted</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/financial-statements-bacs-dates/crime-payment-dates">Processing time standards</a>
            </li>
          </ul>

GENERAL GUIDANCE

<ul>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/civil-contempt-ccommittal-proceedings-note.pdf">Operational note for civil and crime teams on civil contempt/committal proceedings</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/financial-statements-bacs-dates">BACS payment dates</a>
            </li>
            <li class="pdf http">
              <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/forms/legal-aid/civil-certificated-billing-codes.pdf">Expert and claiming codes</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/funding/funding-guidance">Lord Chancellor's Guidance</a>
            </li>
            <li class="pdf http">
              <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/funding-code/points-of-principle-manual.pdf">Points of Principle manual</a>
            </li>
            <li class="pdf http">
              <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/forms/legal-aid/civil-forms/representative-nomination-form.pdf">Representative Nomination form - nominating someone else to discuss your case with the LAA</a>
            </li>
            <li class="pdf http">
              <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/eligibility/universal-credit-legal-aid-means-testing.pdf">Universal Credit and legal aid means testing</a>
            </li>
            <li class="http">
              <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/funding/using-experts">Use of experts in legally aided cases</a>
            </li>
          </ul>


GENERAL SOPS

<ul>
            <li>
              <a href="/laa/docs/Absence_Calculator.xlsx">Absence calculator</a>
            </li>
            <li class="doc">
              <a title="MS Word, opens in a new window" href="/laa/docs/Attendance_Improvement_Plan.doc">Attendance Improvement Plan</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/CM_Managing_Attendance_Process.pdf">Attendance Management Process</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/Changes_to_Rules_Regulations_Practices_and_Procedures.pdf">Changes to rules and regulations</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/Contact-Centre-Call-Handling-SOP.pdf">Contact centre call handling</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/SOP-for-QC-XOffice.pdf">Cross office quality control</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/SOP-QC-local-May-12.pdf">Local quality control</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/management-of-provider-behaviour-SOP.pdf">Management of provider behaviour</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/Post_Opening_and_Post_Dispatch_v2.pdf">Post opening and dispatch</a>
            </li>
            <li class="doc">
              <a title="MS Word, opens in a new window" href="/laa/docs/handling-cash-and-cheques-sop.doc">Processing cash and cheques received</a>
            </li>
            <li>
              <a href="">Processing complaints</a>
            </li>
            <li>
              <a href="">Processing emails</a>
            </li>
            <li>
              <a href="">Processing work through the Central Postal Hub (CPH)</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/Provider-Hardship-interface-with-Contracting.pdf">Provider hardship interface with contracting</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/referring-calls-to-regional-offices.pdf">Referring calls to regional offices</a>
            </li>
            <li class="pdf">
              <a title="PDF, opens in a new window" href="/laa/docs/dealing-with-telephone-calls.pdf">Telephone calls including caller verification</a>
            </li>
            <li>
              <a href="">Using the Management Utility Programme (MUPs)</a>
            </li>
          </ul>