{% extends "layout-laa-b.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<div class="clear"></div>
<main id="content" role="main" class="home-page">
  <ul class="breadcrumbs-list">
    <li class="breadcrumb-item "><a href="home" class="breadcrumb-link">Home</a>
            <span class="separator"></span>
    </li>
    <li class="breadcrumb-item current">LAA guidance</li>
  </ul>
  <div class="grid-row">
    <div class="column-half">
      <h1 class="intra-h1">Guidance &amp; forms</h1>
    </div>
  </div>
  <div class="grid-row">



    <div class="column-third guidance">

      <h3 class="category-title">
        <a href="https://intranet.justice.gov.uk/guidance/it-services/">IT and Digital</a>
      </h3>

      <ul class="children-list">
        <li class="child-item">
        <h4 class="child-title">
          <a href="#">IT in LAA</a>
        </h4>
        </li>
        <li class="child-item">
          <h4 class="child-title">
            <a href="https://intranet.justice.gov.uk/guidance/it-services/it-portal/">IT portal</a>
          </h4>
        </li>
        <li class="child-item">
          <h4 class="child-title">
          <a href="https://intranet.justice.gov.uk/guidance/it-services/improvement-initiatives/">Improving your service</a>
          </h4>
      </li>
    </ul>

    </div>

    <div class="column-third guidance">


      <h3 class="category-title">
        <a href="/intra-b/hr/">HR</a>
      </h3>

      <ul class="children-list"><li class="child-item">
      <h4 class="child-title">
        <a href="https://intranet.justice.gov.uk/guidance/hr/learning-and-development/">Learning and development</a>
      </h4>
    </li><li class="child-item">
      <h4 class="child-title">
        <a href="/intra-b/hr/pay/">Pay and benefits</a>
      </h4>
    </li><li class="child-item">
      <h4 class="child-title">
        <a href="/intra-b/hr/leave">Leave</a>
      </h4>
    </li></ul>


    </div>


  </div>



  </div>





</main>

{% endblock %}
