{% extends "layout-opg-a.html" %}

{% block page_title %}
  Blank page
{% endblock %}


{% block content %}


<main id="content" role="main" class="home-page">

  <div class="grid-row first-row">
    <div class="column-two-thirds">
      <h1 class="intra-h1">Office of the Public Guardian</h1>
      <h2 class="home-page-h2">News</h2>
      <div class="grid-row first-row">
        <div class="column-half">
          <div class="home-news-story">
            <img src="{{ asset_path }}images/big-news-1.jpg" alt="">
            <p class="home-page-story-link"><a href="#">Civil Service Awards: recognising role models</a></p>
            <p class="smaller-text">Ten common myths about apprenticeships explained.
              <time>23 Jun 2016</time>
            </p>
          </div>
        </div>
        <div class="column-half">
          <div class="home-news-story">
            <img src="{{ asset_path }}images/big-news-2.jpg" alt="">
            <p class="home-page-story-link"><a href="#">Busting the myths about apprenticeships</a></p>
            <p class="smaller-text">Ten common myths about apprenticeships explained.
              <time>23 Jun 2016</time>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-half">
          <div class="home-news-story">
            <div class="news-thumbnail">
              <img src="{{ asset_path }}images/small-image-1.jpg" alt="">
            </div>
            <div class="news-content">
              <h3 class="title">
                <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">JURA scores win at CSSC Awards</a>
              </h3>
              <time class="date">22 Jun 2016</time>
            </div>
          </div>
        </div>
        <div class="column-half">
            <div class="home-news-story">
              <div class="news-thumbnail">
                <img src="{{ asset_path }}images/small-image-2.jpg" alt="">
              </div>
              <div class="news-content">
                <h3 class="title">
                  <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">Learning from your peers</a>
                </h3>
                <time class="date">22 Jun 2016</time>
              </div>
            </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-half">
          <div class="home-news-story">
            <div class="news-thumbnail">
              <img src="{{ asset_path }}images/small-image-1.jpg" alt="">
            </div>
            <div class="news-content">
              <h3 class="title">
                <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">JURA scores win at CSSC Awards</a>
              </h3>
              <time class="date">22 Jun 2016</time>
            </div>
          </div>
        </div>
        <div class="column-half">
            <div class="home-news-story">
              <div class="news-thumbnail">
                <img src="{{ asset_path }}images/small-image-2.jpg" alt="">
              </div>
              <div class="news-content">
                <h3 class="title">
                  <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">Learning from your peers</a>
                </h3>
                <time class="date">22 Jun 2016</time>
              </div>
            </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-half">
          <div class="home-news-story">
            <div class="news-thumbnail">
              <img src="{{ asset_path }}images/small-image-1.jpg" alt="">
            </div>
            <div class="news-content">
              <h3 class="title">
                <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">JURA scores win at CSSC Awards</a>
              </h3>
              <time class="date">22 Jun 2016</time>
            </div>
          </div>
        </div>
        <div class="column-half">
            <div class="home-news-story">
              <div class="news-thumbnail">
                <img src="{{ asset_path }}images/small-image-2.jpg" alt="">
              </div>
              <div class="news-content">
                <h3 class="title">
                  <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">Learning from your peers</a>
                </h3>
                <time class="date">22 Jun 2016</time>
              </div>
            </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-half">
          <div class="home-news-story">
            <div class="news-thumbnail">
              <img src="{{ asset_path }}images/small-image-1.jpg" alt="">
            </div>
            <div class="news-content">
              <h3 class="title">
                <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">JURA scores win at CSSC Awards</a>
              </h3>
              <time class="date">22 Jun 2016</time>
            </div>
          </div>
        </div>
        <div class="column-half">
            <div class="home-news-story">
              <div class="news-thumbnail">
                <img src="{{ asset_path }}images/small-image-2.jpg" alt="">
              </div>
              <div class="news-content">
                <h3 class="title">
                  <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">Learning from your peers</a>
                </h3>
                <time class="date">22 Jun 2016</time>
              </div>
            </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-half">
          <div class="home-news-story">
            <div class="news-thumbnail">
              <img src="{{ asset_path }}images/small-image-1.jpg" alt="">
            </div>
            <div class="news-content">
              <h3 class="title">
                <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">JURA scores win at CSSC Awards</a>
              </h3>
              <time class="date">22 Jun 2016</time>
            </div>
          </div>
        </div>
        <div class="column-half">
            <div class="home-news-story">
              <div class="news-thumbnail">
                <img src="{{ asset_path }}images/small-image-2.jpg" alt="">
              </div>
              <div class="news-content">
                <h3 class="title">
                  <a href="https://intranet.justice.gov.uk/news/ntk-jura-scores-win-at-cssc-awards/" class="news-link">Learning from your peers</a>
                </h3>
                <time class="date">22 Jun 2016</time>
              </div>
            </div>
        </div>
      </div>
    </div>



    <div class="column-third">
      <h2 class="home-page-h2 my-agency">My OPG</h2>
      <div class="archive-panel">
        <p><a href="http://intranet.justice.gsi.gov.uk/opg/">Office of the Public Guardian archive intranet</a></p>
      </div>
        <div class="grid-row">
          <div class="column-half">
            <ul class="apps">
              <li><a href="#">People Finder</a></li>
              <li><a href="#">Travel booking</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Pensions</a></li>
              <li><a href="#">Phoenix</a></li>
              <li><a href="#">IT portal</a></li>
              <li><a href="#">MoJ Webchat</a></li>
              <li><a href="#">Room booking</a></li>
            </ul>
          </div>
          <div class="column-half">

          </div>

        </div>
        <h2 class="home-page-h2">Quick links</h2>
        <ul class="quick-links">
          <ul class="apps">
            <li><a href="#">Buildings and facilities</a></li>
            <li><a href="#">Contact Shared Services</a></li>
            <li><a href="/opg-a/hr/leave">Leave</a></li>
            <li><a href="#">Learning and development</a></li>
            <li><a href="#">Performance management</a></li>
          </ul>
        </ul>


      </div>
    </div>


  </div>





</main>

{% endblock %}
