{% extends "layout-laa-b.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/intra-b/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-b/guidance2" class="breadcrumb-link">LAA guidance</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">HR

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
          <ul>
            <li class="main-section"><a href="/intra-b/guidance2">LAA guidance</a></li>
            <li class="parent-section"><a href="#">HR</a></li>

            <li class="child">
              <a href="/intra-b/hr/leave">Leave</a>
            </li>
            <li class="child">
              <a href="/intra-b/hr/pay">Pay and benefits</a>
            </li>




          </ul>
      </div>

    </div>


    <div class="column-two-thirds content">

    <div class="">
      <h1 class="page-title">HR</h1>

      <div class="page-metadata">
        <ul>
          <li>Content owner: <a href="mailto:hr@exmaple.com">MoJ HR</a></li>
          <li>Last updated: 27 March 2016</li>
        </ul>

      </div>



      <div class="excerpt">
                </div>
    </div>

    <ul role="tablist" class="content-tabs  hidden">
                <li class="current-menu-item" role="presentation" data-content="tab_1">
          <a id="tab-tab_1" role="tab" aria-selected="true" aria-controls="panel-tab_1" href="">Tab 1</a>
        </li>
            </ul>

    <div class="tab-content editable">
                    <h2></h2>
          <p>Get the best from Shared Services by reading the <a href="/documents/2016/01/moj-shared-services-guide.pdf">MoJ Shared Services guide<span class="sr-only"> pdf</span></a>, which includes advice on using online HR guidance and Phoenix self-service, as well as contact details for the HR, Expenses and Recruitment Teams.</p>
<h3>Contact us</h3>
<ul class="">
<li><a href="/guidance/hr/phoenix-and-my-details/">self-service</a></li>
<li><a href="/guidance/hr/contact-shared-services/">email</a></li>
<li><a href="/guidance/hr/contact-shared-services/">post</a></li>
<li><a href="/guidance/hr/contact-shared-services/">phone</a></li>
</ul>
<h3>Documents</h3>
<ul class="">
<li><a href="/documents/2015/04/forms-guide.doc">Microsoft Office 2007 and My Services forms<span class="sr-only"> doc</span></a></li>
</ul>

                </div>
    <span class="date-updated">Last updated: <time>1 June 2016</time></span>

            <div id="panel-tab_1" data-template-type="tab-content" data-content-name="tab_1" class="template-partial editable" role="tabpanel" aria-labelled-by="tab-tab-tab_1">
                    <h2></h2>
          <p>Get the best from Shared Services by reading the <a href="/documents/2016/01/moj-shared-services-guide.pdf">MoJ Shared Services guide<span class="sr-only"> pdf</span></a>, which includes advice on using online HR guidance and Phoenix self-service, as well as contact details for the HR, Expenses and Recruitment Teams.</p>
<h3>Contact us</h3>
<ul class="">
<li><a href="/guidance/hr/phoenix-and-my-details/">self-service</a></li>
<li><a href="/guidance/hr/contact-shared-services/">email</a></li>
<li><a href="/guidance/hr/contact-shared-services/">post</a></li>
<li><a href="/guidance/hr/contact-shared-services/">phone</a></li>
</ul>
<h3>Documents</h3>
<ul class="">
<li><a href="/documents/2015/04/forms-guide.doc">Microsoft Office 2007 and My Services forms<span class="sr-only"> doc</span></a></li>
</ul>

                </div>









    </div>


  </div>




</main>

{% endblock %}
