{% extends "layout-opg-a.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<div class="nested-menu-widget">
  <div class="top-nav">
    <ul class="categories-list">

      <li class="category-item not-current ">
        <a href="index" class="category-link">
          Home  </a>

        <ul class="children-list">
            </ul>
      </li>

      <li class="category-item not-current ">
        <a href="https://intranet.justice.gov.uk/newspage/" class="category-link">
          News  </a>

        <ul class="children-list">
            </ul>
      </li>

      <li class="category-item not-current main-nav-events">
        <a href="https://intranet.justice.gov.uk/events/" class="category-link">
          Events  </a>

        <ul class="children-list">
            </ul>
      </li>

      <li class="category-item current main-nav-guidance">
        <a href="/opg-a/guidance1" class="category-link">
          Guidance &amp; forms  </a>

        <ul class="children-list">
            </ul>
      </li>


      <li class="category-item current main-nav-guidance">
        <a href="/opg-a/my-work" class="category-link">
          My work  </a>


      </li>

      <li class="category-item not-current main-nav-about-us">
        <a href="https://intranet.justice.gov.uk/about-us/" class="category-link">
          About us  </a>

        <ul class="children-list">
            </ul>
      </li>

      <li class="category-item not-current main-nav-blog">
        <a href="https://intranet.justice.gov.uk/blog/" class="category-link">
          Blog  </a>

        <ul class="children-list">
            </ul>
      </li>
    </ul>
  </div>
</div>
<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/opg-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-a/guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-a/hr" class="breadcrumb-link">HR</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-a/hr" class="breadcrumb-link">Leave</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Parental leave policy - LSC legacy terms

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
          <ul>
            <li class="main-section"><a href="guidance1">Guidance &amp; forms</a></li>
            <li class="parent-section"><a href="/opg-a/hr/">HR</a></li>
            <li class="child-folder">
              <a href="#">Leave</a>
            </li>
            <li class="child-level-2">
              <a href="#">Adoption leave</a>
            </li>
            <li class="child-level-2">
              <a href="#">Career break</a>
            </li>
            <li class="child-level-2">
              <a href="/opg-a/hr/leave/laa-leave">Parental leave policy - LSC legacy terms</a>
            </li>
            <li class="child-level-2 current-page">
              <a href="/opg-a/hr/leave/parental-leave">Parental leave policy - MoJ</a>
            </li>
            <li class="child-level-2">
              <a href="#">Privilege days</a>
            </li>
            <li class="child-level-2">
              <a href="#">Trade union facility time</a>
            </li>

          </ul>
      </div>

    </div>


    <div class="column-two-thirds content">
      <h1 class="page-title">Parental leave policy</h1>

      <div class="page-metadata">
        <ul>
          <li>Content owner: <a href="mailto:hr@exmaple.com">MoJ HR</a></li>
          <li>Last updated: 27 March 2016</li>
        </ul>

      </div>
                      <h2>What you need to know</h2>
            <p>Parental leave is unpaid time off to look after your child or make arrangements for their welfare.</p>
<p>Eligible parents can take unpaid parental leave up until the child’s 18th birthday.</p>
<p>You can take parental leave if:</p>
<ul class="">
<li>you’ve been employed by the MoJ for at least a year<p></p>
</li>
<li>
<p>you’re the parent named on the child’s birth or adoption certificate</p>
</li>
<li>
<p>you have legal responsibility for a child under 18</p>
</li>
</ul>
<p>Parental leave can be taken in blocks of one week only (unless you have responsibility for a disabled child).<br>
You must normally give at least 21 days’ notice.</p>
<p>Your manager must authorise your request and will agree your leave dates with you.</p>
                      <h2>What you need to do</h2>
            <p>Send your manager the <a href="http://moj-wp-prod.s3.amazonaws.com/imported_content/parental-leave-request.doc" rel="external">request parental leave letter<span class="sr-only"> doc</span></a>, and include:</p>
<ul class="">
<li>dates of the proposed leave</li>
<li>age of the child (you’ll need to provide evidence)</li>
<li>evidence of your legal responsibility for the child</li>
<li>total parental leave you’ve previously taken</li>
</ul>


            <ul>
                                          </ul>
                <h2>Downloads</h2>
                <ul>
                                                        <li>
                  <a href="/documents/2015/04/parental-leave-policy-and-guidance.pdf">Parental leave policy and guidance<span class="sr-only"> pdf</span></a>
                </li>
                                                        <li>
                  <a href="/documents/2015/04/parental-leave-request.doc">Request parental leave letter<span class="sr-only"> doc</span></a>
                </li>
                                                        </ul>
                <h2>Related pages</h2>
                <ul>
                                                        <li>
                  <a href="/guidance/hr/pay-benefits/salary-sacrifice-childcare-vouchers/">Childcare vouchers scheme</a>
                </li>
                                                        <li>
                  <a href="/guidance/hr/support-and-wellbeing/parent-and-carer-support/">Parent and carer support</a>
                </li>
                                                        <li>
                  <a href="/guidance/hr/leave/keeping-in-touch/">Keeping in Touch (KIT) scheme</a>
                </li>
                                      </ul>


  </div>




</main>

{% endblock %}
