{% extends "layout-laa-a.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/intra-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-a/my-work" class="breadcrumb-link">My work</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/intra-a/my-work/civil" class="breadcrumb-link">Crime</a>
        <span class="separator"></span>
      </li>

      <li class="breadcrumb-item current">Guidance

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
        <ul>
          <li class="main-section"><a href="/intra-a/my-work">My work</a></li>
          <li class="parent-section"><a href="/intra-a/crime/">Crime</a></li>
          <li class="child current-page">
            <a href="/intra-a/crime/guidance">Guidance</a>
          </li>
          <li class="child">
            <a href="/intra-a/crime/sops">SOPs</a>
          </li>
          <li class="child">
            <a href="/intra-a/crime/desk-aids">Desk aids</a>
          </li>


        </ul>
      </div>

    </div>


    <div class="column-two-thirds content">


      <div class="">
        <h1 class="page-title">Crime guidance</h1>

        <div class="page-metadata">
          <ul>
            <li>Content owner: <a href="mailto:hr@exmaple.com">LAA Operations</a></li>
            <li>Last updated: 27 March 2016</li>
          </ul>

        </div>

        <ul>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/areas-of-work/crime/crown-courts/advocates-graduated-fee-scheme">Advocates Graduated Fee Scheme guidance</a>
                    </li>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/forms/legal-aid-agency/criminal-forms/applications">Application forms</a>
                    </li>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/forms/legal-aid-agency/criminal-forms/claims">Claim forms</a>
                    </li>
                    <li class="pdf http">
                      <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/funding-code/criminal-bills-assessment-manual.pdf">Criminal bills assessment manual (CBAM)</a>
                    </li>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/assess-your-clients-eligibility/crime-eligibility">Criminal eligibility checker</a>
                    </li>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/newslatest-updates/crime-news/claiming-the-evidence-provision-fee">Claiming evidence provision fee</a>
                    </li>
                    <li class="pdf http">
                      <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/eligibility/criminal-legal-aid-manual-jul-14.pdf">Criminal Legal Aid Manual (CLAM)</a>
                    </li>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/submit-claim/cclf">Crown Court litigator fee claims guidance</a>
                    </li>
                    <li class="pdf http">
                      <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/eligibility/motor-vehicle-order-scheme-guidance.pdf">Crown Court Means Testing Motor Vehicle Order Scheme</a>
                    </li>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/areas-of-work/crime/crime">Guidance on high cost crime cases</a>
                    </li>
                    <li class="pdf http">
                      <a title="PDF, opens in a new windowExternal website, opens in a new window" href="http://www.justice.gov.uk/downloads/legal-aid/eligibility/list-of-criminal-offences.pdf">List of criminal offences</a>
                    </li>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/areas-of-work/crime/crown-courts/litigator-graduated-fee-scheme">Litigator fee scheme guidance</a>
                    </li>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/assess-your-clients-eligibility/crime-eligibility/payment-before-legal-aid-is-granted">Payment before legal aid is granted</a>
                    </li>
                    <li class="http">
                      <a title="External website, opens in a new window" href="http://www.justice.gov.uk/legal-aid/financial-statements-bacs-dates/crime-payment-dates">Processing time standards</a>
                    </li>
                  </ul>


      </div>



  </div>




</main>

{% endblock %}
