
{% extends "intranet-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <br />
      <h1 class="govuk-heading-xl">
        Annual leave
      </h1>
      <p style="font-size:24px;">Find out what the policies are for things like leave, pay, development, people management and recruitment.</p>
      <br />
      <br />
    </div>
  </div>

  <section class="c-tabbed-content js-tabbed-content c-rich-text-block u-current" data-tab-title="Staff" style="display: block; width:66.6%;">
   <h2></h2>
   <hr>
   <h5>Personal data collected as part of these policies will be processed in accordance with the department’s <a href="/guidance/hr/personal-details/">Data Protection Policy and Privacy Notice</a> (see Downloads).</h5>
   <h5>The Privacy Notice explains what personal data the Department holds about you, how we collect it, and how we will use and may share information about you. Inappropriate access or disclosure of employee data constitutes a data breach and should be reported in accordance with the department’s data protection policy immediately.</h5>
   <h5>It may also constitute a disciplinary offence, which will be dealt with under the Department’s disciplinary procedure.</h5>
   <hr>

   <h2 class="govuk-heading-m">What you need to know</h2>
   <p>Your annual leave year begins on your start date. Your manager must authorise your leave requests.</p>
   <p>To buy or sell annual leave, you need to be rated ‘effective’ or better after your probation period and be on ‘Deal’ terms and conditions (see <a href="/documents/2015/04/annex-e-flexible-benefits-annual-leave-element.doc">flexible benefits guidance</a> for policy information and how it is calculated . See <a href="https://myservices.justice.gov.uk/moj/my-services/being_away_from_work/annual-leave">My Services</a> to find out how to request this.</p>
   <p>If your privilege day is not fixed locally, you can use it as annual leave.</p>

   <br />
   <br />

   <h2 class="govuk-heading-m">What you need to do</h2>
   <p>Find out how your team records annual and privilege leave. Use the <a href="/documents/2015/04/annualleavecalculator-moj.xls">annual leave calculator</a> to work out your allowance, then check it with your manager.</p>
   <p><strong>Please ensure you are using Firefox when using the <a href="/documents/2015/04/annualleavecalculator-moj.xlsm">annual leave calculator</a></strong></p>

   <br />
   <br />

   <h2 class="govuk-heading-m">Calculators</h2>
   <p><a href="/documents/2018/01/accrued-leave-calculator.xls">Calculate your accrued leave</a></p>
   <p><a href="/documents/2015/04/annualleavecalculator-moj.xls">Calculate your annual leave </a></p>
   <p><a href="/documents/2015/04/buy-sell-calculator-final.xls">Calculate buying and selling annual leave</a></p>
   
   <br />
   <br />

   <h2 class="govuk-heading-m">Forms</h2>
   <p><a href="/documents/2015/04/annex-d-application-for-leave-of-absence.doc">Record your annual leave</a></p>

   <br />
   <br />

   <h2 class="govuk-heading-m">Documents</h2>
   <p><a href="/documents/2015/04/annual-leave-and-sickness-faq.pdf">Annual leave and sickness absence FAQs</a> <span style="font-size: 16px;">(PDF, 157KB, 2 pages)</span></p>
   
   <p><a href="/documents/2015/04/annex-b-calculation-of-annual-leave-and-public-and-privilege-days-for-scheduled-ushers.doc">Annual leave calculation and public and privilege days for scheduled ushers</a> <span style="font-size: 16px;">(PDF, 157KB, 2 pages)</span></p>
   <p><a href="/documents/2015/04/annex-a-calculation-of-annual-leave-from-days-to-hours.doc">Annual leave calculation from days to hours</a> <span style="font-size: 16px;">(PDF, 157KB, 2 pages)</span></p>
   <p><a href="/documents/2015/04/annual-leave-policy-statement.pdf">Annual leave policy statement</a> <span style="font-size: 16px;">(PDF, 157KB, 2 pages)</span></p>
   <p><a href="/documents/2015/04/privilege-days-q-a.pdf">Changes to annual and privilege leave FAQs</a> <span style="font-size: 16px;">(PDF, 157KB, 2 pages)</span></p>
   <p><a href="/documents/2015/04/annex-e-flexible-benefits-annual-leave-element.doc">Flexible benefits</a> <span style="font-size: 16px;">(PDF, 157KB, 2 pages)</span></p>
   <p><a href="/documents/2015/11/bank-holiday-and-privilege-day-entitlement-201516.xls">Bank Holiday and privilege day entitlement 2016/17</a> <span style="font-size: 16px;">(PDF, 157KB, 2 pages)</span></p>

   <br />
   <br />

   <h2 class="govuk-heading-m">Related pages</h2>
   <p><a href="/guidance/hr/pay-benefits/pay-deadlines/">Pay deadlines</a></p>
</section>

  

  <br />
  <br />
  <br />

{% endblock %}