
{% extends "intranet-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  
 

</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <br />
      <h1 class="govuk-heading-xl">
        Events
      </h1>
    </div>
  </div>

  <h1 class="govuk-heading-l">
        Today
      </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
       <div class="promo-image">
          <div class="promo-content">
            <a href="/guidance/grenfell-tower-fire-june-2017-support-for-people-affected">
              <img alt="" src="https://assets.publishing.service.gov.uk/frontend/homepage/grenfell-tower-support-06932b160e2a050a3c3cf663e03edcb389e4d20829442d51149f1783138c67f4.png">
              <h3>Grenfell Tower fire</h3>
            </a>
            <p>Find out about the support available.</p>
          </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
       <div class="promo-image">
              <div class="promo-content">
                <a href="/government/topical-events/syria-uk-military-action">
                  <img alt="" src="https://assets.publishing.service.gov.uk/frontend/homepage/tornado-syria-86f83c8fa752f2af683b99fa997d4a044ad35d61e164fc8d5754c84de894acab.jpg">
                  <h3>Syria: military action</h3>
                </a>
                <p>
                  Find out how the Syrian regime's chemical weapons capability is being degraded.
                </p>
              </div>
            </div>
    </div>
    <div class="govuk-grid-column-one-third">
       <div class="promo-image">
              <div class="promo-content">
                <a href="/government/brexit">
                  <img alt="" src="https://assets.publishing.service.gov.uk/frontend/homepage/leaving-the-eu-bc9992ee672a30d8e8a3e195c9afa750e618748130a4e073a593ba36dfc29af9.jpg">
                  <h3>The UK and the EU</h3>
                </a>
                <p>
                  Read the latest updates and information as the UK prepares to leave the EU.
                </p>
              </div>
            </div>
    </div>
  </div>

 <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />

  <h1 class="govuk-heading-l">
        This week
      </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
       <div class="promo-image">
          <div class="promo-content">
            <a href="/guidance/grenfell-tower-fire-june-2017-support-for-people-affected">
              <img alt="" src="https://assets.publishing.service.gov.uk/frontend/homepage/grenfell-tower-support-06932b160e2a050a3c3cf663e03edcb389e4d20829442d51149f1783138c67f4.png">
              <h3>Grenfell Tower fire</h3>
            </a>
            <p>Find out about the support available.</p>
          </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
       <div class="promo-image">
              <div class="promo-content">
                <a href="/government/topical-events/syria-uk-military-action">
                  <img alt="" src="https://assets.publishing.service.gov.uk/frontend/homepage/tornado-syria-86f83c8fa752f2af683b99fa997d4a044ad35d61e164fc8d5754c84de894acab.jpg">
                  <h3>Syria: military action</h3>
                </a>
                <p>
                  Find out how the Syrian regime's chemical weapons capability is being degraded.
                </p>
              </div>
            </div>
    </div>
    <div class="govuk-grid-column-one-third">
       <div class="promo-image">
              <div class="promo-content">
                <a href="/government/brexit">
                  <img alt="" src="https://assets.publishing.service.gov.uk/frontend/homepage/leaving-the-eu-bc9992ee672a30d8e8a3e195c9afa750e618748130a4e073a593ba36dfc29af9.jpg">
                  <h3>The UK and the EU</h3>
                </a>
                <p>
                  Read the latest updates and information as the UK prepares to leave the EU.
                </p>
              </div>
            </div>
    </div>
  </div>

 <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        All events
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    <!--<p style="font-size:16px;">Filter by</p>-->
    <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Month
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Any</option>
    <option value="updated">October 2018</option>
    <option value="views">September 2018</option>
    <option value="comments">August 2018</option>
  </select>
</div>

    <div class="govuk-form-group">
  <label class="govuk-label" for="name">
    Keywords
  </label>
  <input class="govuk-input" id="name" name="name" type="text">
  <br />
  <br />
  <br />
  <button type="submit" class="govuk-button">
  
  Filter
</button>
</div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="promo-image">
                <div class="promo-content">
                  <a href="/government/brexit">
                    <img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/default_news_organisation_image_data/file/243/s300_s300_Fleetbank_House.jpg">
                  </a>
                  
                </div>
              </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <a href="/government/brexit">
            <h3 style="margin-top:0px;">Grenfell Tower fire</h3>
          </a>
          <p>
          Read the latest updates and information as the UK prepares to leave the EU.
          </p>
        </div>
      </div>

      <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">

      <div class="govuk-grid-row">
       <br />
        <div class="govuk-grid-column-one-third">
          <div class="promo-image">
                <div class="promo-content">
                  <a href="/government/brexit">
                    <img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/80355/s300_Close_up_of_baby_in_car_seat.jpg">
                  </a>
                  
                </div>
              </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <a href="/government/brexit">
            <h3 style="margin-top:0px;">Syria: military action</h3>
          </a>
          <p>
            Read the latest updates and information as the UK prepares to leave the EU.
          </p>
        </div>
      </div>

      <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">

      <div class="govuk-grid-row">
       <br />
        <div class="govuk-grid-column-one-third">
          <div class="promo-image">
                <div class="promo-content">
                  <a href="/government/brexit">
                    <img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/default_news_organisation_image_data/file/102/s300_Main-building-gov.uk.jpg">
                  </a>
                  
                </div>
              </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <a href="/government/brexit">
            <h3 style="margin-top:0px;">The UK and the EU</h3>
          </a>
          <p>
          Read the latest updates and information as the UK prepares to leave the EU.
          </p>
        </div>
      </div>

    </div>
  </div>


  <br />
  <br />
  <br />

{% endblock %}