
{% extends "intranet-layout.html" %}

{% block pageTitle %}
  Home - Ministry of Justice HQ
{% endblock %}


{% block content %}

<style type="text/css">
  
  .large-numbers li strong {
    font-size: 80px;
    line-height: 1;
}

.large-numbers li a {
    display: block;
    text-decoration: none;
    line-height: 1.25;
    overflow: hidden;
}

.large-numbers li {
    list-style: none;
    margin: 20px 0;
    margin-top: 0px;
}
.large-numbers ol {
  padding-inline-start: 0px;
  margin-top: 0px;
}

</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!--<h1 class="govuk-heading-m">
        Featured
    </h1>-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
    
       <div class="promo-image">
          <div class="promo-content">
            <a href="/guidance/grenfell-tower-fire-june-2017-support-for-people-affected" style="font-weight: bold;">
              <img alt="" src="https://s3-eu-west-2.amazonaws.com/intranet-prod-storage-1dvcquh7kophi/uploads/2018/11/Untitled-8-325x217.jpg">
              <h3>Rock a ribbon and show solidarity</h3>
            </a>
            <p >On Saturday, it’s Worlds AIDS Day. Find out more about this important day and how you can get involved.</p>
          </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
       <div class="promo-image">
              <div class="promo-content">
                <a href="/government/topical-events/syria-uk-military-action" style="font-weight: bold;">
                  <img alt="" src="https://s3-eu-west-2.amazonaws.com/intranet-prod-storage-1dvcquh7kophi/uploads/2018/11/PurpleLightUp_logo-colour-325x217.png">
                  <h3>Join the purple light up</h3>
                </a>
                <p>
                  Recognising ability - International Day of Persons with a Disability.
                </p>
              </div>
            </div>
    </div>
    </div>
  </div>
  


 


</div>


  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />
 
      

  

  <div class="govuk-grid-row">

    <h1 class="govuk-heading-m" style="margin-left:15px;">
        Latest news
      </h1>

    <div class="govuk-grid-column-one-third">
       <div class="promo-image">
          <div class="promo-content">
            <a href="/guidance/grenfell-tower-fire-june-2017-support-for-people-affected">
              <img alt="" src="https://s3-eu-west-2.amazonaws.com/intranet-prod-storage-1dvcquh7kophi/uploads/2018/11/handshake-650x433.jpg">
              <h3>New contract management training available</h3>
            </a>
            <p style="font-size: 19px;">Build skills in managing contracts and relationships with suppliers.</p>
          </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
       <div class="promo-image">
              <div class="promo-content">
                <a href="/government/topical-events/syria-uk-military-action">
                  <img alt="" src="https://s3-eu-west-2.amazonaws.com/intranet-prod-storage-1dvcquh7kophi/uploads/2018/08/Learning-and-training-intranet-edit-650x433.jpg">
                  <h3>Want to develop your line management experience?</h3>
                </a>
                <p style="font-size: 19px;">
                  Take on a work experience student and develop your management skills
                </p>
              </div>
            </div>
    </div>
    <div class="govuk-grid-column-one-third">
       <div class="promo-image">
              <div class="promo-content">
                <a href="/government/brexit">
                  <img alt="" src="https://s3-eu-west-2.amazonaws.com/intranet-prod-storage-1dvcquh7kophi/uploads/2018/11/bs-650x433.jpg">
                  <h3>Parliament Week photo competition and quiz winners</h3>
                </a>
                <p>
                  We had more than 50 entries and after much deliberation, our judges are ready to announce the winners.
                </p>
              </div>
            </div>
    </div>

   </div>

   <a href="#" style="font-size:19px;">See all news</a>

        <br />
   <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />

  <div class="govuk-grid-row">

    <h1 class="govuk-heading-m" style="margin-left:15px;">
        Upcoming events
      </h1>
    
    <div class="govuk-grid-column-one-third">

           <div style="background-color: #ebedef;display: block;
    text-align: center;"><p style="font-size: 16px; padding-top:10px;padding-bottom:10px;margin-bottom:0px">Monday</p></div>
    <div style="border: 1px solid #ebedef;display: block;
    text-align: center;"><p style="font-size: 24px; font-weight: bold; padding-top:30px;padding-bottom:15px;">03 Dec - 11 Dec</p><p style="font-size: 16px;">2018</p></div>
       <br />
       <h1 class="govuk-heading-s"><a href="https://intranet.justice.gov.uk/events/marking-the-50th-anniversary-of-the-race-relations-act-rra-1968/">Corporate induction Skype session</a></h1>
      
      <p style="font-size: 16px; margin-bottom:0px"><span style="font-weight:bold;">Time:</span> 10:00 - 12:00</p> 

      <p style="font-size: 16px;"><span style="font-weight:bold;">Location:</span> Atrium, 102 Petty France</p>

    </div>

    <div class="govuk-grid-column-one-third">

           <div style="background-color: #ebedef;display: block;
    text-align: center;"><p style="font-size: 16px; padding-top:10px;padding-bottom:10px;margin-bottom:0px">Tuesday</p></div>
    <div style="border: 1px solid #ebedef;display: block;
    text-align: center;"><p style="font-size: 24px; font-weight: bold; padding-top:30px;padding-bottom:15px;">04 Dec</p><p style="font-size: 16px;">2018</p></div>
       <br />
       <h1 class="govuk-heading-s"><a href="https://intranet.justice.gov.uk/events/marking-the-50th-anniversary-of-the-race-relations-act-rra-1968/">Come and watch the Civil Service choir</a></h1>
      
      <p style="font-size: 16px; margin-bottom:0px"><span style="font-weight:bold;">Time:</span> 10:00 - 12:00</p> 

      <p style="font-size: 16px;"><span style="font-weight:bold;">Location:</span> Atrium, 102 Petty France</p>

    </div>

    <div class="govuk-grid-column-one-third">

           <div style="background-color: #ebedef;display: block;
    text-align: center;"><p style="font-size: 16px; padding-top:10px;padding-bottom:10px;margin-bottom:0px">Tuesday</p></div>
    <div style="border: 1px solid #ebedef;display: block;
    text-align: center;"><p style="font-size: 24px; font-weight: bold; padding-top:30px;padding-bottom:15px;">04 Dec - 07 Dec</p><p style="font-size: 16px;">2018</p></div>
       <br />
       <h1 class="govuk-heading-s"><a href="https://intranet.justice.gov.uk/events/marking-the-50th-anniversary-of-the-race-relations-act-rra-1968/">Electronic Monitoring Service exhibition</a></h1>
      
      <p style="font-size: 16px; margin-bottom:0px"><span style="font-weight:bold;">Time:</span> 10:00 - 12:00</p> 

      <p style="font-size: 16px;"><span style="font-weight:bold;">Location:</span> Atrium, 102 Petty France</p>

    </div>
  
  </div>

  <a href="#"  style="font-size:19px;">See all events</a>

        <br />
   <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l">
        More on the intranet
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-m">
        Popular in HR
      </h1>
      <h1 class="govuk-heading-s"><a href="#">SOP</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Leave</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Support and wellbeing</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Sick absence</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Pay benefits</a></h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-m">
        Latest from our blog
      </h1>
      <div class="promo-image">
              <div class="promo-content">
                <a href="/government/topical-events/syria-uk-military-action" style="font-weight: bold; font-size: 19px;">
                  <img alt="" src="https://s3-eu-west-2.amazonaws.com/intranet-prod-storage-1dvcquh7kophi/uploads/2016/03/alan960-128x128.jpg">
                  I’m proud we’ve become world leaders in supporting vulnerable people
                </a>
                <p style="font-size: 16px">
                  Public Guardian Alan Eccles explains why nations around the world have turned to England and Wales for advice.
                </p>
              </div>
            </div>
            <a href="#"  style="font-size:19px;">See all blogs</a>
    </div>
  </div>

  <br />
  <br />
  <br />


{% endblock %}