
{% extends "intranet-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <br />
      <h1 class="govuk-heading-xl">
        HR
      </h1>
      <p style="font-size:24px;">Find out what the policies are for things like leave, pay, development, people management and recruitment.</p>
      <br />
      <br />
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
            <a href="#">
              <h3 style="margin-bottom:0px;">Induction</h3>
            </a>
            <p style="font-size:16px;">Learn about starting your new role at the MoJ.</p>
          </div>

    <div class="govuk-grid-column-one-third">
            <a href="#">
              <h3 style="margin-bottom:0px;">Leave</h3>
            </a>
            <p style="font-size:16px;">Annual leave and holidays, sick leave and working time.</p>
    </div>
    <div class="govuk-grid-column-one-third">
            <a href="#">
              <h3 style="margin-bottom:0px;">Pensions</h3>
            </a>
            <p style="font-size:16px;">Find out about the civil service pension scheme.</p>
    </div>
  </div>

  <br />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
            <a href="#">
              <h3 style="margin-bottom:0px;">Recruitment</h3>
            </a>
            <p style="font-size:16px;">help and information that you need to manage a successful recruitment campaign.</p>
          </div>

    <div class="govuk-grid-column-one-third">
            <a href="#">
              <h3 style="margin-bottom:0px;">Conduct and behaviour</h3>
            </a>
            <p style="font-size:16px;">The behaviour and conduct expected from all permanent and fixed-term employees.</p>
    </div>
    <div class="govuk-grid-column-one-third">
            <a href="#">
              <h3 style="margin-bottom:0px;">Learning and development</h3>
            </a>
            <p style="font-size:16px;">How to use your 5 annual learning days.</p>
    </div>
  </div>

  <br />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
            <a href="#">
              <h3 style="margin-bottom:0px;">Support and wellbeing</h3>
            </a>
            <p style="font-size:16px;">Find out about the support available to you.</p>
          </div>

    <div class="govuk-grid-column-one-third">
            <a href="#">
              <h3 style="margin-bottom:0px;">Attendance management</h3>
            </a>
            <p style="font-size:16px;">What to do when you’re off sick and guidance for managers.</p>
    </div>
    <div class="govuk-grid-column-one-third">
            <a href="#">
              <h3 style="margin-bottom:0px;">Performance management</h3>
            </a>
            <p style="font-size:16px;">How to make sure you’re performing and developing well.</p>
    </div>
  </div>

       <br />
   <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />

<h1 class="govuk-heading-m">
        Services
      </h1>

      <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div style="border: 1px solid #BFC1C3; padding:15px; height:125px; background-color: #005ea5;">
          <a href="#" style="font-weight: bold; font-size: 19px; color:white;">Single Operating Platform (SOP)</a>
        <p style="color:white;font-size: 16px;">View your payslips and complete HR, procurement, finance and payroll transactions.</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div style="border: 1px solid #BFC1C3; padding:15px; height:125px;background-color: #005ea5;">
          <a href="#" style="font-weight: bold; font-size: 19px; color:white;">myServices</a>
        <p style="color:white;font-size: 16px;">Contains guidance on procedures.</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div style="border: 1px solid #BFC1C3; padding:15px; height:125px;background-color: #005ea5;">
          <a href="#" style="font-weight: bold; font-size: 19px; color:white;">WCN eRecruitment</a>
        <p style="color:white;font-size: 16px;">Recruitment transactions.</p>
      </div>
    </div>
  </div>

     <br />
   <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-m">
        Most popular
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <!--<h1 class="govuk-heading-m">
        Most popular
      </h1>-->
      <h1 class="govuk-heading-s"><a href="#">Annual leave calculator</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Pay changes</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Flexible working</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Performance management</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Attendance management</a></h1>
    </div>
  </div>

  

  <br />
  <br />
  <br />

{% endblock %}