
{% extends "intranet-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<style type="text/css">
  
  .large-numbers li strong {
    font-size: 80px;
    line-height: 1;
}

.large-numbers li a {
    display: block;
    text-decoration: none;
    line-height: 1.25;
    overflow: hidden;
}

.large-numbers li {
    list-style: none;
    margin: 20px 0;
    margin-top: 0px;
}
.large-numbers ol {
  padding-inline-start: 0px;
  margin-top: 0px;
}


</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">
        Latest news
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
    
       <div class="promo-image">
          <div class="promo-content">
            <a href="/guidance/grenfell-tower-fire-june-2017-support-for-people-affected" style="font-weight: bold; font-size: 19px;">
              <img alt="" src="https://s3-eu-west-2.amazonaws.com/intranet-prod-storage-1dvcquh7kophi/uploads/2018/10/royal_garden_party_nominations_2019_image-650x433.jpg">
              Grenfell Tower fire
            </a>
            <p style="font-size: 16px">Find out about the support available.</p>
          </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
       <div class="promo-image">
              <div class="promo-content">
                <a href="/government/topical-events/syria-uk-military-action" style="font-weight: bold; font-size: 19px;">
                  <img alt="" src="https://s3-eu-west-2.amazonaws.com/intranet-prod-storage-1dvcquh7kophi/uploads/2018/10/the-great-wall-2190047_1920-650x433.jpg">
                  Syria: military action
                </a>
                <p style="font-size: 16px">
                  Find out how the Syrian regime's chemical weapons capability is being degraded.
                </p>
              </div>
            </div>
    </div>
    </div>
    <a href="news">See all news</a>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="services-wrapper" style="background-color: #005ea5; padding:15px; color:white;">
        <h1 class="govuk-heading-m" style="color: white;">
          Services
        </h1>

            <a href="#" style="font-weight: bold; font-size: 19px; color: white;">People finder</a>
          <p style="font-size: 16px;color: white;">Find a person or team in the department.</p>
       
            <a href="#" style="font-weight: bold; font-size: 19px;color: white;">Book travel</a>
          <p style="font-size: 16px;color: white;">Book travel and accomodation for when you have to travel.</p>

          <a href="#" style="font-weight: bold; font-size: 19px;color: white;">Civil Service Jobs</a>
          <p style="font-size: 16px;color: white;">Find jobs in the Civil Service and central government organisations.</p>
          <br />
          <a href="#" style="font-size: 16px;color: white; padding-top:10px;">See all services</a>
          <br />
   

      </div>
  </div>

 


</div>

 <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />
 
      

  <!--<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        Events
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div style="border: 1px solid #BFC1C3; padding:15px; height:120px;">
        <p style="font-size: 16px;margin-bottom: 0px;">Today</p>
          <a href="#" style="font-weight: bold; font-size: 19px;">Marking the 50th Anniversary of the Race Relations Act (RRA) 1968</a>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div style="border: 1px solid #BFC1C3; padding:15px; height:125px;">
      <p style="font-size: 16px;margin-bottom: 0px;">Today</p>
          <a href="#" style="font-weight: bold; font-size: 19px;">Meet the Disclosure Team – Your Freedom of Information and Data Protection Specialists</a>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div style="border: 1px solid #BFC1C3; padding:15px; height:125px;">
        <p style="font-size: 16px;margin-bottom: 0px;">Today</p>
          <a href="#" style="font-weight: bold; font-size: 19px;">MoJ Black History Month: The Future is Female</a>
      </p>
      </div>
    </div>
  </div>

  <br />

  <a href="#">See all events</a>

   <br />
   <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />-->

  <div class="govuk-grid-row">

    <h1 class="govuk-heading-m" style="margin-left:15px;">
        Events
      </h1>
    <div class="govuk-grid-column-one-third">

          <h1 class="govuk-heading-s"><a href="https://intranet.justice.gov.uk/events/marking-the-50th-anniversary-of-the-race-relations-act-rra-1968/">Marking the 50th Anniversary of the Race Relations Act (RRA) 1968</a></h1>
    
      
      <p style="font-size: 16px;">Today, 16:30 - 18:00</p>  

      <p style="font-size: 16px;">Conference Rooms 1A, B and C, Lower Ground, 102 Petty France</p>

      <br />


    </div>
           <div class="govuk-grid-column-one-third">
       
       <h1 class="govuk-heading-s"><a href="https://intranet.justice.gov.uk/events/marking-the-50th-anniversary-of-the-race-relations-act-rra-1968/">Meet the Disclosure Team – Your Data Protection Specialists</a></h1>
      
      <p style="font-size: 16px;">Today, 16:30 - 18:00</p>  

      <p style="font-size: 16px;">Atrium, 102 Petty France</p>

          </div>
          <div class="govuk-grid-column-one-third">
       
       <h1 class="govuk-heading-s"><a href="https://intranet.justice.gov.uk/events/marking-the-50th-anniversary-of-the-race-relations-act-rra-1968/">MoJ Black History Month: The Future is Female</a></h1>
      
      <p style="font-size: 16px;">Today, 10:00 - 12:00</p>  

      <p style="font-size: 16px;">3.30, 10 South Colonnade, Canary Wharf, London, E14 4PU</p>



    

          </div>
          </div>

  <a href="#" style="">See all events</a>

        <br />
   <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />


 <!--<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        
          <div class="large-numbers">
            <ol>
              <li><a href="/government/organisations"><strong>3</strong><br />Events today</a></li>
             
            </ol>
          </div>
        </div>
         <div class="govuk-grid-column-one-third">
    
       

          <h1 class="govuk-heading-s"><a href="https://intranet.justice.gov.uk/events/marking-the-50th-anniversary-of-the-race-relations-act-rra-1968/">Marking the 50th Anniversary of the Race Relations Act (RRA) 1968</a></h1>
    
    
      
      <p style="font-size: 16px;">Today, 16:30 - 18:00</p>  

      <p style="font-size: 16px;">Conference Rooms 1A, B and C, Lower Ground, 102 Petty France</p>

      <br />

      

    
      

    </div>
    <div class="govuk-grid-column-one-third">
       
       <h1 class="govuk-heading-s"><a href="https://intranet.justice.gov.uk/events/marking-the-50th-anniversary-of-the-race-relations-act-rra-1968/">Meet the Disclosure Team – Your Data Protection Specialists</a></h1>
    
    
      
      <p style="font-size: 16px;">Today, 16:30 - 18:00</p>  

      <p style="font-size: 16px;">Conference Rooms 1A, B and C, Lower Ground, 102 Petty France</p>



    

          </div>
          </div>

  <a href="#" style="">See all events</a>

        <br />
   <br />
  <hr style="border-bottom: 1px solid #bfc1c3; border-top: 0px; border-right:0px; border-left: 0px;">
  <br />-->


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l">
        More on the MOJ HQ intranet
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-m">
        Most popular
      </h1>
      <h1 class="govuk-heading-s"><a href="#">Annual leave calculator</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Pay changes</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Flexible working</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Performance management</a></h1>
      <h1 class="govuk-heading-s"><a href="#">Attendance management</a></h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-m">
        Latest from our blog
      </h1>
      <div class="promo-image">
              <div class="promo-content">
                <a href="/government/topical-events/syria-uk-military-action" style="font-weight: bold; font-size: 19px;">
                  <img alt="" src="https://s3-eu-west-2.amazonaws.com/intranet-prod-storage-1dvcquh7kophi/uploads/2018/10/Lauren-Whithall_Blog-photo-128x128.jpg">
                  Why justice is the best department for fast-streamers
                </a>
                <p style="font-size: 16px">
                  Lauren Whithall gives her view on her time as a fast-streamer in the despartment.
                </p>
              </div>
            </div>
    </div>
  </div>

  <br />
  <br />
  <br />


{% endblock %}