
{% extends "intranet-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        Services
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div style="border: 1px solid #BFC1C3; padding:15px; height:125px;">
          <a href="#" style="font-weight: bold; font-size: 19px;">People finder</a>
        <p style="">Find a person or team in the department.</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div style="border: 1px solid #BFC1C3; padding:15px; height:125px;">
          <a href="#" style="font-weight: bold; font-size: 19px;">Book travel</a>
        <p style="">Book travel and accomodation for when you have to travel.</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div style="border: 1px solid #BFC1C3; padding:15px; height:125px;">
          <a href="#" style="font-weight: bold; font-size: 19px;">Civil Service Jobs</a>
        <p style="">Find jobs in the Civil Service and central government organisations.</p>
      </div>
    </div>
  </div>

  <br />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" style="font-size:19px; font-weight:bold;">Pensions</a>
      <p>Manage your pension and investments.</p>
    </div>
  </div>
  <hr>
  <br />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" style="font-size:19px; font-weight:bold;">SOP</a>
      <p>View your payslips, complete your performance review or check your pay.</p>
    </div>
  </div>

  <br />

  <a href="#">See all services</a>

{% endblock %}