{% extends "layout-opg-b.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}
<div class="nested-menu-widget">
  <div class="top-nav">
    <ul class="categories-list">

      <li class="category-item not-current ">
        <a href="index" class="category-link">
          Home  </a>

        <ul class="children-list">
            </ul>
      </li>

      <li class="category-item not-current ">
        <a href="https://intranet.justice.gov.uk/newspage/" class="category-link">
          News  </a>

        <ul class="children-list">
            </ul>
      </li>

      <li class="category-item not-current main-nav-events">
        <a href="https://intranet.justice.gov.uk/events/" class="category-link">
          Events  </a>

        <ul class="children-list">
            </ul>
      </li>

      <li class="category-item current main-nav-guidance">
        <a href="/opg-b/guidance1" class="category-link">
          OPG guidance  </a>

        <ul class="children-list">
            </ul>
      </li>

      <li class="category-item current main-nav-guidance">
        <a href="/opg-b/my-work" class="category-link">
          My work  </a>


      </li>


      <li class="category-item not-current main-nav-about-us">
        <a href="https://intranet.justice.gov.uk/about-us/" class="category-link">
          About us  </a>

        <ul class="children-list">
            </ul>
      </li>

      <li class="category-item not-current main-nav-blog">
        <a href="https://intranet.justice.gov.uk/blog/" class="category-link">
          Blog  </a>

        <ul class="children-list">
            </ul>
      </li>
    </ul>
  </div>
</div>
<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/opg-b/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-b/guidance1" class="breadcrumb-link">MoJ guidance</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-b/hr" class="breadcrumb-link">HR</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/opg-b/hr" class="breadcrumb-link">Leave</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Parental leave policy - LSC legacy terms

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">
          <ul>
            <li class="main-section"><a href="/opg-b/guidance1">MoJ guidance</a></li>
            <li class="parent-section"><a href="/opg-b/hr/">HR</a></li>
            <li class="child-folder">
              <a href="/opg-b/hr/leave">Leave</a>
            </li>
            <li class="child-level-2">
              <a href="#">Adoption leave</a>
            </li>
            <li class="child-level-2">
              <a href="#">Career break</a>
            </li>
            <li class="child-level-2 current-page">
              <a href="/opg-b/hr/leave/laa-leave">Parental leave policy - LSC legacy terms</a>
            </li>
            <li class="child-level-2">
              <a href="/opg-b/hr/leave/parental-leave">Parental leave policy - MoJ</a>
            </li>
            <li class="child-level-2">
              <a href="#">Privilege days</a>
            </li>
            <li class="child-level-2">
              <a href="#">Trade union facility time</a>
            </li>

          </ul>
      </div>

    </div>


    <div class="column-two-thirds content">


      <div class="">
        <h1 class="page-title">Parental leave policy</h1>

        <div class="page-metadata">
          <ul>
            <li>Content owner: <a href="mailto:hr@exmaple.com">OPG HR</a></li>
            <li>Last updated: 27 March 2016</li>
          </ul>

        </div>

        <p>The policies below apply to those OPG staff who have remained on LSC legacy terms and conditions</p>

        <p><a href="#">Parental leave policy</a> [WORD]</p>

  </div>




</main>

{% endblock %}
