
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The MOJ Intranet Prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m"></h2>

      

      <h2 class="govuk-heading-m">Versions</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v1">v1</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
